<div class="columns generic">
  <div class="column main">
    <h2 style="width:500px"><span class="highlight" style="font-size:19px">Veri Tabanı Yönetimi</span> Nedir ?</h2>

    Veri tabanı yönetimi, her tabloya erişip bilgi ekle/düzenle/sil gibi işlemlere yarar.
    paneli ile bilgi girişi sağlar.<br />
    Her öğretim üyesi için; haftalık, hangi gün hangi saate dersi olduğu, bilgilerini barındıran ders programı bilgisini sunar.
    Her sınıf için; haftalık, hangi dersin kimin tarafından yapılacağı bilgisini sunar.<br />
    <br />
    <table>
      <tr>
        <th>Tablo seçimi</th><td> Yukarıdaki listboxtan kullanılacak tabloyu seçebilirsiniz.</td>
      </tr>
      <tr>
        <th>Tablo incele</th><td> Seçilen tabloda; tüm verileri listeleyip bunlar üzerinde <br />
          görüntüleme/düzenleme/silme işlemlerini yapmanıza olanak sağlar.</td>
      </tr>
      <tr>
        <th>Ara</th><td> Seçilen tabloda; ayarlanan özel anahtara göre arama yapmanızı sağlar.</td>
      </tr>
      <tr>
        <th>Ekle</th><td>Seçilen tabloda; ayarlanan özel anahtara dikkate alınarak veri eklemenizi sağlar.</td>
      </tr>
    </table>
  </div>

  <div class="column sidebar" style="width:350px">
    <%= stylesheet_link_tag "global" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    <div class="module">
      <div class="inner">
        <h2>Tablo Bilgileri</h2>
        <div class='description'>
          <table>
            <colgroup><col width=300 /><col width=210 /></colgroup>
            <tr>
              <td>Toblo Adı</td><th><%= session[:TABLE] %></th>
            </tr>
            <tr>
              <td>Tablo Kayıt Sayısı</td><th><%= session[:SAVE] %></th>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="module">
      <div class="inner">
        <h2>Son 5 Oluşturma İşlemi</h2>
        <div class='description'>
          <table>
            <colgroup><col width=250 /><col width=210 /></colgroup>
            <tr>
              <td><b><%= session[:KEY] %></b></td><th>Güncelleme</th>
            </tr>
            <% eval(session[:TABLE] + ".order('created_at DESC').limit(5).all").each do |table| %>
              <tr>
                <td><%= table.id %> </td>
                <th><%= table.updated_at %></th>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
