<div class="page">
  <h2 id="headline">Kayıt Düzenle</h2>
  <%= form_tag({ :action => 'update' }, :multipart => true) do %>
    <table class="custom">
      <strong><%= session[:_key] %></strong> id'sine ait tüm bilgiler</p>
      <% eval(session[:TABLE] + ".columns").map do |c| %>
        <tr>
          <% if  c.name != session[:KEY] %>
            <% unless session[:escape].include?(c.name) %> <!-- kısıtlamalar -->
              <td class="label"><%= c.name %></td>
              <td class="field">
                <% if  c.name == "photo" %><%= file_field_tag :file %>
                <% else %><%= text_field_tag c.name, @data.attributes[c.name] %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td><%= submit_tag "Güncelle", :id => "submit_button" %></td>
      </tr>
    </table>
  <% end %>
</div>
