<h2>Yönetici Paneli</h2>
<table class='dashboard'>
  <thead>
    <tr>
      <th class='shrink'>Tablo</th>
      <th>Kayıt</th>
    </tr>
  </thead>
  <tbody>

    <% session[:TABLES].each do |table| %>
      <tr>
        <td><%= table[0] %></td>
        <td>
          <% table_count = eval table[0].capitalize + ".count"
            max = 100
            min = 10
            choise = if table_count >= max
              "important"
            elsif table_count <= min
              "trivial"
            elsif table_count >= (min+max)/2.0
              "warning"
            else
              "notice"
            end
          %>
          <div
            class='animate-width-to stick <%= choise %>'
            data-animate-length='<%= max %>'
            data-animate-width-to='<%= table_count %>%'
            style='width:2%'>
            <%= table_count %>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
