<h2>Yönetici Paneli</h2>
<table class='zebra-striped'>
  <thead>
    <tr>
      <th class='shrink'>Tablo</th>
      <th>Kayıt</th>
    </tr>
  </thead>
  <tbody>

    <% session[:TABLES].each do |table| %>
      <tr>
        <td>
          <span>
              <%= table[0] %>
          </span>
        </td>
        <td>
          <% table_count = eval table[0].capitalize+".count" %>
          <%
            max = 100
            min = 10
            if table_count >= max
              choise = "label important"
            elsif table_count <= min
              choise = "label trivial"
            elsif table_count >= (min+max)/2.0
              choise = "label warning"
            else
              choise = "label notice"
            end
          %>
          <div
            class='animate-width-to <%= choise %>'
            data-animate-length='<%= max %>'
            data-animate-width-to='<%= 2*table_count %>%'
            style='width:2%'>
            <%= table_count %>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
