<h2>Yönetici Paneli</h2>
<table class='dashboard'>
  <thead>
    <tr>
      <th class='shrink'>Tablo</th>
      <th class='shrink'>Kullanıldı</th>
      <th>Kayıt</th>
    </tr>
  </thead>
  <tbody>

    <% session[:TABLES].each do |table| %>
      <%
        table_count = eval table[0].capitalize + ".count"
        max = 2000
        percent = table_count / (max / 100.0) + 1
        choise = if percent >= 75
                   "important"
                 elsif percent == 0
                   "zero"
                 elsif percent <= 25
                   "trivial"
                 elsif percent >= 50
                   "warning"
                 else
                   "notice"
                 end
        unless table_count == 0
          last_used = eval(table[0] + ".order('updated_at DESC').limit(1)")
          ms = Time.now - last_used[0].updated_at
          _sec = ms % 60; ms /= 60
          _min = ms % 60; ms /= 60
          _hour = ms % 24; ms /= 24
          _day = ms
          from_time = Time.now - _day.days - _hour.hours - _min.minutes - _sec.seconds
        end
      %>
      <tr>
        <td><%= table[0] %></td>
        <td><%= time_ago_in_words(from_time) unless table_count == 0 %></td>
        <td>
          <div
            class='animate-width-to stick <%= choise %>'
            data-animate-length='<%= max %>'
            data-animate-width-to='<%= percent %>%'
            style='width:2%'>
            <%= table_count %>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
