<link type="text/css" rel="stylesheet" href="/stylesheets/datatable.css"/>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
  });
</script>
<style>
  .dt_example{ width:770px }
</style>
<div class="page">
  <h2 id="headline"><%= session[:TABLE] %> tablosu inceleniyor</h2>
   <div class="dt_example module">
   <table cellpadding="0" cellspacing="0" border="0" class="display" 
       id="example">
   <thead>
    <tr>
      <% eval(session[:TABLE] + ".columns").map do |c| %>
        <% unless session[:escape].include?(c.name) %> <!-- kısıtlamalar -->
          <th><%= c.name %></th>
        <% end %>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |kisi| %>
      <tr>
        <% eval(session[:TABLE] + ".columns").map do |c| %>
          <% unless session[:escape].include?(c.name) %> <!-- kısıtlamalar -->
            <% if c.name == 'photo' %>
              <td class="label"><img src="<%= kisi.attributes[c.name] %>" width="50" height="50"/></td>
            <% else %>
              <td class="label"><%= kisi.attributes[c.name] %></td>
            <% end %>
          <% end %>
        <% end %>
        <td class="label" style="float:left;width:92px">
          <%= form_tag :action => 'show' do %>
            <%= hidden_field_tag :_key,  kisi.attributes[session[:KEY]] %>
            <%= submit_tag "",:id => "review_button" %>
          <% end %>
          <%= form_tag :action => 'edit' do %>
            <%= hidden_field_tag :_key,  kisi.attributes[session[:KEY]] %>
            <%= submit_tag "",:id => "edit_button" %>
          <% end %>
          <%= form_tag :action => 'del' do %>
            <%= hidden_field_tag :_key,  kisi.attributes[session[:KEY]] %>
            <%= submit_tag "", :id => "delete_button", :confirm => 'Silmek istediğinizden emin misiniz?' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>
</div>
