<div class="page">
  <h2 id="headline"><%= session[:TABLE] %> tablosu inceleniyor</h2>
  <table class="custom">
    <tr>
      <% eval(session[:TABLE] + ".columns").map do |c| %>
        <td class="label"><%= c.name %></td>
      <% end %>
    </tr>

    <% @data.each do |kisi| %>
    <tr>
      <% eval(session[:TABLE] + ".columns").map do |c| %>
        <td class="label"><%= kisi.attributes[c.name] %></td>
      <% end %>
      <td class="label">
        <% form_tag  :action => 'show' do %>
          <%= hidden_field_tag :_key,  kisi.attributes[session[:KEY]] %>
          <%= submit_tag "İncele", :id => "submit_button" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
