<link type="text/css" rel="stylesheet" href="/assets/datatable.css"/>
<script type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" src="/assets/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
  });
</script>
<h2><%= session[:TABLE] %> Tablosu İnceleniyor</h2>
<div class="dt_example module">
  <table cellpadding="0" cellspacing="0" border="0" class="display" 
      id="example">
  <thead>
    <tr>
      <% eval(session[:TABLE] + ".columns").map do |c| %>
        <% if in?(c.name, session[:FIELDS]) %> <!-- kısıtlamalar -->
          <th><%= c.name %></th>
        <% end %>
      <% end %>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |row| %>
      <tr>
        <% eval(session[:TABLE] + ".columns").map do |c| %>
          <% if in?(c.name, session[:FIELDS]) %> <!-- kısıtlamalar -->
            <td class="label">
              <% if c.name == 'photo' %><img src="<%= row.attributes[c.name] %>" width="26" height="26"/>
              <% else %>                <%= substr?(row.attributes[c.name].to_s, 40) %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <td class="label" style="float:left;width:92px">
          <%= form_tag :action => 'show' do %>
            <%= hidden_field_tag :_key,  row.attributes[session[:KEY]] %>
            <%= submit_tag "",:id => "review_button" %>
          <% end %>
          <%= form_tag :action => 'edit' do %>
            <%= hidden_field_tag :_key,  row.attributes[session[:KEY]] %>
            <%= submit_tag "",:id => "edit_button" %>
          <% end %>
          <%= form_tag :action => 'del' do %>
            <%= hidden_field_tag :_key,  row.attributes[session[:KEY]] %>
            <%= submit_tag "", :id => "delete_button", :onClick => "return confirm('Silmek istediğinizden emin misiniz?');" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
