<!-- dual listbox -->
<script src="/assets/jquery-latest.js"></script>
<!-- end dual listbox -->
<h2><%= @period.full_name + " / " + @classroom.name %></h2>

<div id="headline">
  <div style="float:left">
    <table>
      <tr>
        <td>
          <%= @classroom.name %>
        </td>
      </tr>
    </table>
  </div>
  <table class="custom">
    <tr>
      <td class="label" style="border:none">Tür</td>
      <td><%= @classroom.description %></td>
    </tr>
    <tr>
      <td class="label" style="border:none">Verilen Ders</td>
      <td>
        <select id="course_ids" name="course_ids">
          <% @course_ids.each do |k, v| %>
            <option value="<%= k %>" selected>
            <%= v %>
            </option>
          <% end %>
        </select>
      </td>
      <td>
        <%= link_to "", "/home/classplanpdf/#{@period.id}/#{@classroom.id}", :id=>"pdf_buttonx32", :style=>"float:right" %>
      </td>
    </tr>
  </table>
</div>

<style>
  #table { margin-left:-20px;}
  #table th {
    font-size:9px;
    padding:0px;
    font-weight:lighter;
    border:1px solid #ddd;
    min-height:20px;height:20px;
  }
  #table th.x,
  #table th.header,
  #table th.meal {
    background-color:#ccc;
  }

  #table th.clock,
  #table th.field1,
  #table th.field2 {
    min-height:65px;height:65px;
  }

  #table th.field1{min-width:143px;width:143px;}
  #table th.field2{min-width:30px;width:30px;}
  #table th.meal {
    min-height:20px;height:20px;
  }
</style>

<div id="table">
  <table>
    <tr>
      <th class="x" rowspan=2><%= @header[0][0] %></th>
      <% @header[0].slice(1..-1).each do |day| %>
        <th class="header" colspan=2><%= day %></th>
      <% end %>
    </tr>
    <tr>
      <% (@header[0].length-1).times do %>
        <th class='header'>Ders</td>
        <th class='header'>Bölüm</td>
      <% end %>
    </tr>

    <% @morning.each do |col| %>
      <tr>
        <th class="clock <%= ', meal' if col[0].slice(0..1) == @meal_time[0] %>"><%= col[0].gsub('-', ':') %></th>
        <% index = 0 %>
        <% col.slice(1..-1).each_with_index do |c, i| %>
          <% if i % 2 == 0 %>
            <th class='field1 <%= ', meal' if col[0].slice(0..1) == @meal_time[0] %>'
              id="<%= @day.keys[index] + col[0].slice(0..4) %>field1">
              <% c = c.split("\n") %>
              <p style="text-align:left"> <%= c[0] %></p>
              <p style="text-align:left"> <%= c[1] %></p>
              <p style="text-align:right"><%= c[2] %></p>
            </th>
          <% else %>
            <th class='field2 <%= ', meal' if col[0].slice(0..1) == @meal_time[0] %>'
              id="<%= @day.keys[index] + col[0].slice(0..4) %>field2"><%= c %></th>
            <% index = index + 1 %>
          <% end %>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <th class="clock, meal"></th>
      <% 5.times do %>
        <th class='field1, meal'>
          <p style="text-align:left"></p>
          <p style="text-align:right"></p>
        </th>
        <th class='field2, meal'></th>
      <% end %>
    </tr>

    <% @evening.each do |col| %>
      <tr>
        <th class="clock"><%= col[0].gsub('-', ':') %></th>
        <% index = 0 %>
        <% col.slice(1..-1).each_with_index do |c, i| %>
          <% if i % 2 == 0 %>
            <th class='field1' id="<%= @day.keys[index] + col[0].slice(0..4) %>field1">
              <% c = c.split("\n") %>
              <p style="text-align:left"> <%= c[0] %></p>
              <p style="text-align:left"> <%= c[1] %></p>
              <p style="text-align:right"><%= c[2] %></p>
            </th>
          <% else %>
            <th class='field2' id="<%= @day.keys[index] + col[0].slice(0..4) %>field2"><%= c %></th>
            <% index = index + 1 %>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  </table>
</div>

<!-- dual listbox -->
<script>
  $("#course_ids").change(function () {
    var part = $(this).val().split('#');
    if (part[0] != "") {
      if (part[0].indexOf(';') >= 0)
      var days = part[0].split(';');
      else
      var days = [part[0]];
      var assignment_id = part[1];
      $('th').css('border', "1px solid #ddd");
      for (var i = 0; i < days.length; i++) {
        $('#' + days[i] + 'field1').css('border', "1px solid #35addf");
        $('#' + days[i] + 'field2').css('border', "1px solid #35addf");
      }
      $("#select_assignment_id").html("<input type='hidden' id='assignment_id' name='assignment_id' value='" + assignment_id + "'/>");
    }
  })
  .trigger('change');
</script>
<!-- end dual listbox -->
