<!-- dual listbox -->
<script src="/assets/jquery-latest.js"></script>
<!-- end dual listbox -->

<h2><%= Period.find(session[:period_id]).full_name + " / " + Classroom.find(session[:classroom_id]).name %></h2>
<p style="margin-left:800px;margin-top:-80px;">
<%= link_to "", "/home/classplanpdf/#{session[:period_id]}/#{session[:classroom_id]}", :id=>"pdf_button" %>
</p>
<table class="custom">
  <tr>
    <td class="label">Sınıf</td>
    <td><%= Classroom.find(session[:classroom_id]).name %></td>
  </tr>
  <tr>
    <td class="label">Kapasite</td>
    <td><%= Classroom.find(session[:classroom_id]).capacity %></td>
  </tr>
  <tr>
    <td class="label">Verilen Ders</td>
    <td>
      <select id="course_ids" name="course_ids">
        <% session[:course_ids].each do |k, v| %>
          <option value="<%= k %>" selected>
          <%= v %>
          </option>
        <% end %>
      </select>
    </td>
  </tr>

  <tr>
    <td class="info" colspan=2>
      <style>
        #table { margin-left:-30px;}
        #table th {
          font-size:9px;
          padding:0em;
          font-weight:lighter;
          border:1px solid #ddd;
        }
        #table th.header{min-height:20px;height:20px;background-color:#ccc;}
        #table th.x{background-color:#ccc;min-height:20px;height:20px;min-width:65px;width:65px;}
        #table th.clock{min-height:20px;height:20px;min-width:60px;width:60px;}
        #table th.field1{min-height:25px;height:25px;min-width:140px;width:140px;}
        #table th.field2{min-height:65px;height:65px;min-width:30px;width:30px;}

        #table th.launch{min-height:20px;height:20px;background-color:#ccc;}

      </style>
      <div id="table">
        <table>
          <tr>
            <th class="x" rowspan=2><%= @header[0][0] %></th>
            <% @header[0].slice(1..-1).each do |day| %>
              <th class="header" colspan=2><%= day %></th>
            <% end %>
          </tr>
          <tr>
            <% (@header[0].length-1).times do %>
              <th class='header'>Ders</td>
              <th class='header'>Bölüm</td>
            <% end %>
          </tr>

          <% @morning.each do |col| %>
            <tr>
              <th class="clock <%= ', launch' if col[0].slice(0..1) == @launch[0].slice(0..1)%>"><%= col[0].gsub('-', ':') %></th>
              <% index = 0 %>
              <% col.slice(1..-1).each_with_index do |c, i| %>
                <% if i % 2 == 0 %>
                  <th class='field1 <%= ', launch' if col[0].slice(0..1) == @launch[0].slice(0..1)%>'
                    id="<%= @day.keys[index] + col[0].slice(0..4) %>field1">
                    <% c = c.split("\n") %>
                    <p style="text-align:left"> <%= c[0] %></p>
                    <p style="text-align:left"> <%= c[1] %></p>
                    <p style="text-align:right"><%= c[2] %></p>
                  </th>
                <% else %>
                  <th class='field2 <%= ', launch' if col[0].slice(0..1) == @launch[0].slice(0..1)%>'
                    id="<%= @day.keys[index] + col[0].slice(0..4) %>field2"><%= c %></th>
                  <% index = index + 1 %>
                <% end %>
              <% end %>
            </tr>
          <% end %>

          <% @evening.each do |col| %>
            <tr>
              <th class="clock"><%= col[0].gsub('-', ':') %></th>
              <% index = 0 %>
              <% col.slice(1..-1).each_with_index do |c, i| %>
                <% if i % 2 == 0 %>
                  <th class='field1' id="<%= @day.keys[index] + col[0].slice(0..4) %>field1">
                    <% c = c.split("\n") %>
                    <p style="text-align:left"> <%= c[0] %></p>
                    <p style="text-align:left"> <%= c[1] %></p>
                    <p style="text-align:right"><%= c[2] %></p>
                  </th>
                <% else %>
                  <th class='field2' id="<%= @day.keys[index] + col[0].slice(0..4) %>field2"><%= c %></th>
                  <% index = index + 1 %>
                <% end %>
              <% end %>
            </tr>
          <% end %>

        </table>
      </div>
    </td>

  </tr>
</table>


<!-- dual listbox -->
<script>
  $("#course_ids").change(function () {
    var part = $(this).val().split('#');
    if (part[0] != "") {
      if (part[0].indexOf(';') >= 0)
      var days = part[0].split(';');
      else
      var days = [part[0]];
      var assignment_id = part[1];
      $('th').css('border', "1px solid #ddd");
      for (var i = 0; i < days.length; i++) {
        $('#' + days[i] + 'field1').css('border', "1px solid #35addf");
        $('#' + days[i] + 'field2').css('border', "1px solid #35addf");
      }
      $("#select_assignment_id").html("<input type='hidden' id='assignment_id' name='assignment_id' value='" + assignment_id + "'/>");
    }
  })
  .trigger('change');
</script>
<!-- end dual listbox -->
