<h2>
    <%= link_to @period.full_name + " / " + @department.name,
      "/home/departmentreview/#{@period.id}/#{@department.id}" %>
</h2>
<table cellpadding="0" cellspacing="0" border="0" class="custom"
  id="example" style="width:800px">
  <colgroup><col /><col /><col /><col /><col width="100"/><col /><col /><col width="300"/></colgroup>
  <thead>
    <tr id="headline">
      <th></th>
      <th>Ad</th>
      <th>Soyad</th>
      <th>Bilgi</th>
      <th colspan="3">Ders Planı</th>
      <th>Devam Durumu</th>
    </tr>
  </thead>
  <tbody>
    <% @lecturers.each do |lecturer| %>
      <tr id="headline">
        <td>
          <div id="image-box">
            <table>
              <tr>
                <td class="small">
                  <%= image_tag lecturer.photo %>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td class="field"><%= lecturer.first_name %></td>
        <td class="field"><%= lecturer.last_name %></td>
        <td><%= link_to "Bilgi", "/home/lecturershow/#{@period.id}/#{lecturer.id}", :class => "button" %></td>
        <td>
          <div id="realtime">
            <a class="status <%= lecturer.has_plan?(@period.id) ? "up" : "down" %>" style="margin-top:-8px"></a>
          </div>
        </td>
        <td><%= link_to "Göster", "/home/lecturerplan/#{@period.id}/#{lecturer.id}", :class => "button" %></td>
        <td>
          <%= link_to "Pdf", "/home/lecturerplanpdf/#{@period.id}/#{lecturer.id}", :class => "button danger", :id => "pdf_buttonx32" %>
        </td>
        <td><%= lecturer.continuity ? "Devamlı" : "Devamsız" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
