<!-- autocomplete -->
<!-- kaynak : https://github.com/scottgonzalez/jquery-ui-extensions/tree/master/autocomplete -->
<% if @auto_lecturers %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/jquery.ui.autocomplete.html.js"></script>
  <script>
    $(function() {
      $( "#autocomplete" ).autocomplete({
        source: [
                <% @auto_lecturers.each do |l|  %>
                  {
                    <% l.each do |k, v| %>
                      label: "<img src='<%= raw v[1] %>' width='50'; height='50'/><%= raw v[0]+' - '+v[2] %>",
                      value: "<%= v[0] %>",
                      deger: "<%= raw k %>"
                    <% end %>
                  },
                <% end %>
                ],
        select: function( event, ui ) {
                  $("#post").html(
                          "<input type='hidden'name='lecturer_id' value='" + ui.item.deger + "'/>"
                  );
                },
        html: true
      });
    });
  </script>
<% end %>
<!-- end autocomplete -->

<style>
  .page {margin-left:0px;width:930px;}
</style>

<h2>Öğretim Elamanı Hızlı Arama</h2>
<%= form_tag :action => 'show' do %>
  <table class="custom">
    <tr>
      <td class="label"> Dönem: </td>
      <td class="field"><%= select_tag(:period_id, options_from_collection_for_select(Period.all, :id, :full_name)) %></td>
    </tr>
    <tr>
      <td class="label">Öğretim Elamanı Adı:</td>
      <td class="field"><input id="autocomplete" style="width:365px;height:25px;"/></td>
    </tr>
    <div id="post"></div>
    <tr>
      <td></td>
      <td><%= submit_tag "Arama Yap", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>

<h2>Öğretim Elamanı Manual Arama</h2>
<%= form_tag :action => 'review' do %>
  <table class="custom">
    <tr>
      <td class="label"> Dönem: </td>
      <td class="field"><%= select_tag(:period_id, options_from_collection_for_select(Period.all, :id, :full_name)) %></td>
    </tr>
    <tr>
      <td class="label"> Bölüm: </td>
      <td class="field"><%= select_tag(:department_id, options_from_collection_for_select(Department.all, :id, :name)) %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Arama Yap", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>
