<div class="columns generic">
  <div class="column main">
    <h2 style="width:600px"><span class="highlight" style="font-size:19px">Eğitim Öğretim Plan Sistemi</span> Nedir ?</h2>

    Eğitim öğretim plan sistemi, <%= link_to "akademisyen giriş", "/user" %> paneli ile bilgi girişi sağlar.<br/>
    Her öğretim üyesi için; haftalık, hangi gün hangi saate dersi olduğu, bilgilerini barındıran ders programı bilgisini sunar.
    Her sınıf için; haftalık, hangi dersin kimin tarafından yapılacağı bilgisini sunar.<br/>

    <br />
    <br />
    <h2 style="width:600px"><span class="highlight" style="font-size:19px">Akademisyen Giriş Paneli</span> Nedir ?</h2>

    Eğitim öğretim plan sistem sayfasının sağ üst köşesinden <b>"Akademisyen Giriş"</b> yazan kısmında giriş yapılır. Bu panele her giren bölüm yöneticisi kendi bölümüne öğretim üyelerini,  bölümüne ait dersleri ekler. Ve her dönem hangi dersin kimin tarafından  verileceğini
    hangi gün saat kaçta olacağını belirler.

    <br />
    <br />
    <br />
    <div class="module">
      <div class="inner">
        <h2>Bölüm Bilgileri</h2>
        <div class='description'>
          <table>
            <colgroup><col width=200 /><col width=85 /><col width=40 /><col width=90 /></colgroup>
            <tr>
              <td><b>Bölüm </b></td><th>Öğretim Üyesi</th><th>Ders</th><th>Ders Atama</th><th>Ders Programı</th>
            </tr>
            <% Department.all.each do |department| %>
              <tr>
                <td><%= department.name %> </td>
                <th><%= lecturer_count = Lecturer.where(:department_id => department.id).count %></th>
                <th><%= course_count = Course.where(:department_id => department.id).count %></th>
                <th>
                  <%
                    assignments = Assignment.joins(:lecturer).where(
                      'lecturers.department_id' => department.id,
                      'assignments.period_id' => Period.find(:first, :conditions => {:status => true})
                    ).joins(:course).where(
                    'courses.department_id' => department.id,
                    )
                    lecturer_ids = assignments.collect { |assignment| assignment.lecturer_id }
                    lecturer_ids.uniq!
                    done_lecturer_count = lecturer_ids.count
                  %>
                  <% if lecturer_count != 0 %>
                    %<%= done_lecturer_count * 100 / lecturer_count %>
                  <% else %>
                    %0
                  <% end %>
                </th>
                <th>
                <%
                  assignments = Assignment.joins(:lecturer).where(
                    'lecturers.department_id' => department.id,
                    'assignments.period_id' => Period.find(:first, :conditions => {:status => true})
                  ).joins(:course).where(
                  'courses.department_id' => department.id,
                  )
                  lecturer_ids = []
                  assignments.each do |assignment|
                    if Classplan.find(:first, :conditions => { 'assignment_id' => assignment.id })
                      lecturer_ids << assignment.lecturer_id
                    end
                  end
                  lecturer_ids.uniq!
                  done_schedule_count = lecturer_ids.count
                %>
                  <% if lecturer_count != 0 %>
                    %<%= done_schedule_count * 100 / lecturer_count %>
                  <% else %>
                    %0
                  <% end %>
                </th>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="column sidebar">
    <!-- slide -->
    <!-- kaynak : http://www.htmldrive.net/items/show/1069/Auto-Scroll-News-Ticker-with-jQuery  -->
    <div class="module">
      <div class="inner">
        <h2> Duyurular </h2>
        <div id="textslide"  style="width:300px;background-color:#eee;">
          <ul id="ticker" class="ticker" style="width:300px;height:185px">
            <% Notice.all.each do |notice| %>
              <li><%= substr?(notice.content, 89) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <script>
      function tick(){
        $('#ticker li:first').slideUp( function () { $(this).appendTo($('#ticker')).slideDown(); });
      }
      setInterval(function(){ tick () }, 3000);
    </script>
    <!-- end slide -->
    <div id="realtime">
        <%
          if period = Period.find(:first, :conditions => {:status => true})
            period_state = "up"
          elsif Period.find(:first, :conditions => {:status => false})
            period_state = "problem"
          else
            period_state = "down"
          end
          if ["problem", "down"].include?(period_state)
            user_state = "down"
          else
            user_state = "up"
          end
        %>
        <% period_state %>
      <div class="inner">
        <div id="git" class="service">
          <span class="status <%= period_state %>"></span> Aktif Dönem
        </div>
        <div id="downloads" class="service">
          <span class="status <%= user_state %>"></span> Akademisyen Giriş
        </div>
      </div>
    </div>

    <div class="module">
      <div class="inner">
        <h2>Sistem Bilgileri</h2>
        <div class='description'>
          <table>
            <colgroup><col width=300 /><col width=210 /></colgroup>
            <tr>
              <td>Toplam Bölüm Sayısı</td><th><%= Department.count-1 %></th>
            </tr>
            <tr>
              <td>Toplam Öğretim Üyesi Sayısı</td><th><%= Lecturer.count %></th>
            </tr>
            <tr>
              <td>Toplam Ders Sayısı</td><th><%= Course.count %></th>
            </tr>
            <tr><td><br></td><th></th></tr>
            <tr>
              <td>Aktif Dönem</td><th><%=  if period; period.full_name else "---" end %></th>
            </tr>
            <tr>
              <td>Sistem Yöneticisi Sayısı</td><th><%= People.where(:status => 0).count %></th>
            </tr>
            <tr>
              <td>Sistem Akademisyen Sayısı</td><th> <%= People.where(:status => [1, 2, 3]).count %></th>
            </tr>
            <tr>
              <td>Toplam Kullanıcı Sayısı</td><th><%= People.count %></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
