<%= stylesheet_link_tag "global" %>
<!-- font -->
<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css' />
<!-- end font -->
<h2>Site Hakkında</h2>
Bu site <%= link_to "Bilgisayar Mühendisliği","http://bil.omu.edu.tr" %> bölümünün
<%= link_to "19 proje grubu","http://ondokuz.biz" %>nun ismi adına Bilgisayar Mühendisliği
Öğrencileri tarafından yapılmaktadır.


<h1 style="margin-left:310px;font-family: 'IM Fell DW Pica SC', Helvetica, Arial, sans-serif;font-weight: normal;">
  Bölümün <span class="highlight">3</span> Silahşörü</h1>
<%
  def permute_array(a)
    1.upto(a.length - 1) do |i|
      j = rand(i + 1)
      a[i], a[j] = a[j], a[i]
    end
  end
%>
<% persons = [
  {
  'href' => 'http://gdemir.me',
  'title' => 'Gökhan Demir',
  'photo' => 'https://secure.gravatar.com/avatar/80a2435e5770620fae90c2b7212188f3?s=140&d=https://a248.e.akamai.net/public.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png'
},
  {
  'href' => 'http://ecylmz.com',
  'title' => 'Emre Can Yılmaz',
  'photo' => 'https://secure.gravatar.com/avatar/70e0c0c8745239dd08ca6b5a149815d6?s=140&d=https://a248.e.akamai.net/public.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png'
},
  {
  'href' => 'http://emineker.net',
  'title' => 'Emin Eker',
  'photo' => 'https://secure.gravatar.com/avatar/f8de5c29fefc7cf972a0adc7ffb5ac69?s=140&d=https://a248.e.akamai.net/public.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png'
},
]
%>
<% permute_array(persons) %>
<ul class="recent photos" style="margin-top:20px;margin-left:300px;">
  <% persons.each do |person| %>
    <li><a href="<%= person['href'] %>" title="<%= person['title'] %>">
      <%= image_tag person['photo'], :width => 56, :height => 56 %>
    </a></li>
  <% end %>
</ul>

<br/>
<ul class="recent photos" style="margin-top:70px;margin-left:340px;">
  <li><a href="http://bil.omu.edu.tr" title="Bilgisayar Mühendisliği"> 
    <%= image_tag "/assets/19-normal-57x57.png" %>
  </a></li>
  <li><a href="http://ondokuz.biz" title="Ondokuz Biz"> 
    <%= image_tag "/assets/biz-normal-57x57.png" %>
  </a></li>
</ul>

<br/><br/><br/><br/><br/>
<a href="http://ondokuz.biz/209/yonerge/" style="margin-left:-150px;">
  copyright &copy; 2011 ondokuz.biz
</a>

<h3 style="margin-top:0px;height:150px;">
  <ul class="recent photos" style="margin-left:345px;">
    <li><a href="http://mf.omu.edu.tr" title="Mühendislik Fakültesi"> 
      <%= image_tag "/assets/mf-128x128.png" %>
    </a></li>
  </ul>
</h3>
