<h2>
  <%= @period.full_name %>
  <%= link_to " / " + @lecturer.department.name,
  "/home/departmentreview/#{@period.id}/#{@lecturer.department_id}" %>
  <%= " / " + @lecturer.full_name %>
</h2>

<div id="headline">
  <div id="image-box">
    <table>
      <tr>
        <td class="medium">
          <%= image_tag @lecturer.photo %>
        </td>
      </tr>
    </table>
  </div>
  <table class="custom">
    <tr>
      <td class="label" style="border:none"> Adı: </td>
      <td class="field"><%= @lecturer.first_name %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> Soyadı: </td>
      <td class="field"><%= @lecturer.last_name %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> Email: </td>
      <td class="field"><%= @lecturer.email %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> Cep telefon: </td>
      <td class="field"><%= @lecturer.cell_phone %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> İş telefonu: </td>
      <td class="field"><%= @lecturer.work_phone %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> Devam durumu: </td>
      <td class="field"><%= @lecturer.continuity ? "Devamlı" : "Devamsız" %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> Plan durumu: </td>
      <td class="field"><%= @lecturer.has_plan?(@period.id) ? "Hazır" : "Hazır Değil" %></td>
    </tr>
    <tr>
      <td class="label" style="border:none"> Ders Planı: </td>
      <td>
        <%= link_to "Göster", "/home/lecturerplan/#{@period.id}/#{@lecturer.id}", :class => "button" %>
        <%= link_to "Pdf", "/home/lecturerplanpdf/#{@period.id}/#{@lecturer.id}", :class => "button danger", :id => "pdf_buttonx32" %>
      </td>
    </tr>
  </table>
</div>

<table class='dashboard'>
  <thead>
    <tr>
      <th class='shrink'>Kod</th>
      <th class='shrink'>Ders</th>
      <th class='shrink'>Teorik</th>
      <th class='shrink'>Uygulama</th>
      <th class='shrink'>Laboratuar</th>
      <th class='shrink'>Kredi</th>
    </tr>
  </thead>
  <tbody>
    <% Period.find(@period.id).course.find_all_by_department_id(@lecturer.department_id).each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.theoretical %></td>
        <td><%= course.practice %></td>
        <td><%= course.lab %></td>
        <td><%= course.credit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
