<!-- autocomplete -->
<!-- kaynak : https://github.com/scottgonzalez/jquery-ui-extensions/tree/master/autocomplete -->
<% if @auto_lecturers %>
  <link rel="stylesheet" type="text/css" href="/assets/jquery-ui.css" />
  <!--  <script src="/assets/jquery.js"></script>-->
  <script src="/assets/jquery-ui.js"></script>
  <script src="/assets/jquery.ui.autocomplete.html.js"></script>
  <script>
    $(function() {
      $( "#autocomplete" ).autocomplete({
        source: [
        <% @auto_lecturers.each do |l|  %>
          {
            <% l.each do |k, v| %>
              label: "<img src='<%= raw v[1] %>' width='50'; height='50'/><%= raw v[0]+' - '+v[2] %>",
              value: "<%= v[0] %>",
              deger: "<%= raw k %>"
            <% end %>
          },
        <% end %>
        ],
        select: function( event, ui ) {
          $("#post").html(
          "<input type='hidden'name='lecturer_id' value='" + ui.item.deger + "'/>"
          );
        },
        html: true
      });
    });
  </script>
<% end %>
<!-- end autocomplete -->

<h2>Öğretim Üyesi Hızlı Ara</h2>
<%= form_tag :action => 'lecturershow' do %>
  <table class="custom">
    <tr>
      <td class="label"> Dönem: </td>
      <td class="field"><%= select_tag(:period_id, options_from_collection_for_select(Period.all, :id, :full_name)) %></td>
    </tr>
    <tr>
      <td class="label">Öğretim Üyesi Adı:</td>
      <td class="field"><input id="autocomplete" style="width:365px;height:25px;"/></td>
    </tr>
    <div id="post"></div>
    <tr>
      <td></td>
      <td><%= submit_tag "Ara", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>

<h2>Öğretim Üyesi Listele</h2>
<%= form_tag :action => 'departmentreview' do %>
  <table class="custom">
    <tr>
      <td class="label"> Dönem: </td>
      <td class="field"><%= select_tag(:period_id, options_from_collection_for_select(Period.all, :id, :full_name)) %></td>
    </tr>
    <tr>
      <td class="label"> Bölüm: </td>
      <td class="field"><%= select_tag(:department_id, options_from_collection_for_select(Department.all, :id, :name)) %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Listele", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>
