<style>
  .page{margin-bottom:-125px;}
</style>
<h2><%= Department.find(session[:department_id]).name %> Arama Sonuçları</h2>
<% @lecturers.each do |lecturer| %>
  <div id="info">
    <div id="image-box">
      <table>
        <tr>
          <td>
          <% if File::exists? RAILS_ROOT + "/public/#{lecturer.photo}" %>
            <%= image_tag lecturer.photo %>
          <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="page">
      <table class="custom">
        <tr>
          <td class="label" style="border:none"> Adı: </td>
          <td class="field"><%= lecturer.first_name %></td>
        </tr>
        <tr>
          <td class="label" style="border:none"> Soyadı: </td>
          <td class="field"><%= lecturer.last_name %></td>
        </tr>
        <tr>
          <td class="label" style="border:none"> Email: </td>
          <td class="field"><%= lecturer.email %></td>
        </tr>
        <tr>
          <td class="label" style="border:none"> Cep telefon: </td>
          <td class="field"><%= lecturer.cell_phone %></td>
        </tr>
        <tr>
          <td class="label" style="border:none"> İş telefonu: </td>
          <td class="field"><%= lecturer.work_phone %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= form_tag :action => 'lecturerplan' do %>
              <%= hidden_field_tag :lecturer_id,  lecturer.id %>
              <%= submit_tag "Ders Programı", :id => "submit_button" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
