<h2>Parola Güncelle</h2>
<%= form_tag({ :action => 'accountupdate' }, :multipart => true) do %>
  <table class="custom">
    <tr>
      <td class="label"> Eski Parola: </td>
      <td><%= password_field_tag :last_password, "",
        :placeholder => "Eski parolayı yazın (#{@people.password[0]}" + ("*" * (@people.password.length - 1)) + ")" %>
      </td>
    </tr>
    <tr>
      <td class="label"> Yeni Parola: </td>
      <td><%= password_field_tag :new_password, "",
        :placeholder => "Yeni parolayı yazın" %>
      </td>
    </tr>
    <tr>
      <td class="label"> Yeni Parola(Tekrar): </td>
      <td><%= password_field_tag :new_password_repeat, "",
        :placeholder => "Yeni parolayı tekrar yazın" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= hidden_field_tag :password, true %></td>
      <td><%= submit_tag "Güncelle", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>
