<!-- multiselect -->
<!-- kaynak : http://loudev.com/ -->
<% if @unassignment_lecturers or @unassignment_courses %>
  <link href="/stylesheets/multi-select.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.multi-select.js" type="text/javascript"></script>
  <script src="/javascripts/app.js" type="text/javascript"></script>
<% end %>
<!-- end multiselect -->

<!-- jlistbox -->
<!-- kaynak : http://www.senamion.com/blog/jlistbox_demo.html -->
<link rel="stylesheet" href="/stylesheets/jquery.jListbox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery.bgiframe.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery.jListbox.js" ></script>
  <script type="text/javascript">
          $().ready(function() {
                  $("#lecturer_id, #test").jListbox();
                  $("#showcode2").click(function() { $("#code2").toggle(); });
          });
</script>
<!-- end jlistbox -->
</head>
<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümüne ders ekle</h2>
  <%= form_tag({ :action => 'assignmentadd' }, :multipart => true, :html => {:id => 'real-form'}) do %>
    <table class="custom">
      <tr>
        <td class="label">Hoca seçiniz</td>
        <td>
            <select id="lecturer_id" name="lecturer_id">
            <%= @unassignment_lecturers.each do |lecturer| %>
              <option rel="<img width='56' height='56' src='<%= lecturer.photo %>'/>" value="<%= lecturer.id %>">
                <%= lecturer.full_name %>
              </option>
            <%end%>
            </select>
        </td>
      </tr>
      <tr>
        <td class="label">Dersleri seçiniz</td>
        <td>
          <%= select_tag 'course_ids[]',
                options_from_collection_for_select(@unassignment_courses, :id, :full_name),
                :multiple => true, :class => 'multiselect, callbacks', :id => 'callback'
          %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input id="submit_button" type='submit' value='Kaydet' />
        </td>
      </tr>
    </table>
  <% end %>
</div>
