<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümüne ders ekle</h2>
  <%= form_tag({ :action => 'assignmentadd' }, :multipart => true, :html => {:id => 'real-form'}) do %>
    <table class="custom">
      <tr>
        <td class="label">Hoca seçiniz</td>
        <td>
            <select name="lecturer_id">
            <%= @unassignment_lecturers.each do |lecturer| %>
              <option class="image_with_name" style="background-image:url(/images/<%= lecturer.photo %>);" value="<%= lecturer.id %>">
                <%= lecturer.full_name %>
              </option>
            <%end%>
            </select>
        </td>
      </tr>
      <tr>
        <td class="label">Dersleri seçiniz</td>
        <td>
          <%= select_tag 'course_ids[]',
                options_from_collection_for_select(@unassignment_courses, :id, :full_name),
                :multiple => true, :class => 'multiselect, callbacks', :id => 'callback'
          %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input id="submit_button" type='submit' value='Kaydet' />
        </td>
      </tr>
    </table>
  <% end %>
</div>
