<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümünün öğretim görevlisi bilgileri</h2>
  <table class="custom">
    <tr>
      <td class="label">Fotoğraf</td>
      <td class="field"><%= image_tag Lecturer.find(session[:lecturer_id]).photo %></td>
    </tr>
    <tr>
      <td class="label">Ad</td>
      <td class="field"><%= Lecturer.find(session[:lecturer_id]).full_name %></td>
    </tr>
    <tr>
      <td class="label">Dersler</td>
      <td></td>
    </tr>
    <% @assignment.each do |ass| %>
      <tr>
        <td></td>
        <td class="field"><%= ass.course.full_name %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td>
        <%= form_tag({ :action => 'assignmentedit' }, :multipart => true) do %>
          <%= submit_tag "Düzenle", :id => "submit_button" %>
        <% end %>
        <%= form_tag({ :action => 'assignmentdel' }, :multipart => true) do %>
          <%= submit_tag "Sil", :id => "submit_button", :confirm => 'Bu öğretim görevlisinin verdiği dersleri silmek üzeresiniz. silmek istediğinizden emin misiniz ?'%>
        <% end %>
      </td>
    </tr>
  </table>
</div>
