<!-- multiselect -->
<!-- kaynak : http://loudev.com/ -->
<% if @unassignment_lecturers or @unassignment_courses %>
  <link href="/stylesheets/multi-select.css" rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.multi-select.js" type="text/javascript"></script>
  <script src="/javascripts/app.js" type="text/javascript"></script>
<% end %>
<!-- end multiselect -->
<h2><%= session[:department] %> Bölümü Öğretim Elamanının Verdiği Dersleri Düzenle</h2>
<%= form_tag({ :action => 'assignmentupdate' }, :multipart => true) do %>
  <table class="login">
  <tr>
    <td class="label">Fotoğraf</td>
    <td><%= image_tag @lecturer.photo %></td>
  </tr>
  <tr>
    <td class="label">Ad</td>
    <td><%= @lecturer.full_name %></td>
  </tr>
  <tr>
    <td class="label">Dersleri seçiniz</td>
    <td>
      <%= select_tag 'course_ids[]',
        options_from_collection_for_select(@unassignment_courses, :id, :full_name, @lecturer_course_ids ),
        :multiple => true, :class => 'multiselect, callbacks', :id => 'callback'
      %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Güncelle", :id => "submit_button" %></td>
  </tr>
  </table>
<% end %>
