<!-- multiselect -->
<!-- kaynak : http://loudev.com/ -->
<% if @unassignment_lecturers or @unassignment_courses %>
  <link href="/assets/multi-select.css" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery.js" type="text/javascript"></script>
  <script src="/assets/jquery.multi-select.js" type="text/javascript"></script>
  <script src="/assets/app.js" type="text/javascript"></script>
<% end %>
<!-- end multiselect -->


<!-- autocomplete -->
<!-- kaynak : https://github.com/scottgonzalez/jquery-ui-extensions/tree/master/autocomplete -->
<% if @auto_lecturers %>
  <link rel="stylesheet" type="text/css" href="/assets/jquery-ui.css" />
  <script src="/assets/jquery.js"></script>
  <script src="/assets/jquery-ui.js"></script>
  <script src="/assets/jquery.ui.autocomplete.html.js"></script>

  <script>
    $(function() {
      $( "#autocomplete" ).autocomplete({
        source: [
                <% @auto_lecturers.each do |l|  %>
                  {
                    <% l.each do |k, v| %>
                      label: "<img src='<%= raw v[1] %>' width='50'; height='50'/><%= raw v[2]+' - '+v[0] %>",
                      value: "<%= v[0] %>",
                      deger: "<%= raw k %>"
                    <% end %>
                  },
                <% end %>
                ],
        select: function( event, ui ) {
                  $("#post").html(
                          "<input type='hidden'name='lecturer_id' value='" + ui.item.deger + "'/>"
                  );
                },
        html: true
      });
    });
  </script>
<% end %>
<!-- end autocomplete -->


<h2><%= session[:department] %> Bölümünden Öğretim Elemanlarını Ders Atama</h2>
<%= form_tag({ :action => 'assignmentadd' }, :multipart => true, :html => {:id => 'real-form'}) do %>
  <table class="login">
    <tr>
      <td class="label">Öğretim Elemanı Adı:</td>
      <td class="field"><input id="autocomplete" style="width:650px;height:25px;"/></td>
    </tr>
    <div id="post"></div>
    </tr>
    <tr>
      <td class="label">Dersleri seçiniz</td>
      <td>
        <%= select_tag 'course_ids[]',
              options_from_collection_for_select(@unassignment_courses, :id, :full_name),
              :multiple => true, :class => 'multiselect, callbacks', :id => 'callback'
        %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input id="submit_button" type='submit' value='Kaydet' />
      </td>
    </tr>
  </table>
<% end %>
