<link type="text/css" rel="stylesheet" href="/stylesheets/datatable.css"/>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
  });
</script>
<h2><%= session[:department] %> Bölümünün Dersleri İnceleniyor...</h2>
<style>
  .module {
    margin-top:-15px;
  }
</style>
<div class="dt_example module">
   <table cellpadding="0" cellspacing="0" border="0" class="display" 
       id="example">
   <thead>
    <tr>
      <th class="label">Sınıf</th>
      <th class="label">Kod Ad</th>
      <th class="label">Ad</th>
      <th class="label">Teorik ders sayısı</th>
      <th class="label">Pratik ders sayısı</th>
      <th class="label">Lab ders sayısı</th>
      <th class="label">Kredi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td class="label"><%= course.year %></td>
        <td class="label"><%= session[:departmentcode] + course.code %></td>
        <td class="label"><%= course.name %></td>
        <td class="label"><%= course.theoretical %></td>
        <td class="label"><%= course.practice %></td>
        <td class="label"><%= course.lab %></td>
        <td class="label"><%= course.credit %></td>
        <td class="label" style="float:left;width:92px">
          <%= form_tag :action => 'courseshow' do %>
            <%= hidden_field_tag :course_id, course.id %>
            <%= submit_tag "",:id => "review_button" %>
          <% end %>
          <%= form_tag :action => 'courseedit' do %>
            <%= hidden_field_tag :course_id, course.id %>
            <%= submit_tag "",:id => "edit_button" %>
          <% end %>
          <%= form_tag :action => 'coursedel' do %>
            <%= hidden_field_tag :course_id, course.id %>
            <%= submit_tag "", :id => "delete_button",
              :onClick => "return confirm('#{Course.find(course.id).full_name} dersini silmek üzeresiniz. " +
                                          "Silmek istediğinizden emin misiniz ?');" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
