<h2><%= session[:department] %> Bölümünün Ders Bilgileri</h2>
<%= render :partial => "notice" %>
<table class="custom">
  <tr>
    <td class="label">Sınıf</td>
    <td class="field"><%= @course.year %></td>
  </tr>
  <tr>
    <td class="label">Kodu</td>
    <td class="field"><%= @course.code %></td>
  </tr>
  <tr>
    <td class="label">Ad</td>
    <td class="field"><%= @course.name %></td>
  </tr>
  <tr>
    <td class="label">Grup mu?</td>
    <td class="field">
      <% if @course.group %> evet
      <% else %>             hayır
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="label">Teorik</td>
    <td class="field"><%= @course.theoretical %></td>
  </tr>
  <tr>
    <td class="label">Uygulama</td>
    <td class="field"><%= @course.practice %></td>
  </tr>
  <tr>
    <td class="label">Laboratuar</td>
    <td class="field"><%= @course.lab %></td>
  </tr>
  <tr>
    <td class="label">Kredi</td>
    <td class="field"><%= @course.credit %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= form_tag({ :action => 'courseedit' }, :multipart => true) do %>
        <%= submit_tag "Düzenle", :id => "submit_button" %>
      <% end %>
      <%= form_tag({ :action => 'coursedel' }, :multipart => true) do %>
          <%= submit_tag "Sil", :id => "submit_button",
            :confirm => "#{Course.find(@course.id).full_name} dersini silmek üzeresiniz. " +
                        "Silmek istediğinizden emin misiniz ?" %>
      <% end %>
    </td>
  </tr>
</table>
