<h2><%= session[:department] %> Bölümü Ders Düzenle</h2>
<%= form_tag({ :action => 'courseupdate' }, :multipart => true) do %>
  <table class="custom">
  <tr>
    <td class="label">Sınıf</td>
    <td class="field"><%= text_field_tag :year, @course.year %></td>
  </tr>
  <tr>
    <td class="label">Kod Ad</td>
    <td class="field"><%= text_field_tag :code, @course.code %></td>
  </tr>
  <tr>
    <td class="label">Ad</td>
    <td class="field"><%= text_field_tag :name, @course.name %></td>
  </tr>
  <tr>
    <td class="label">Teorik</td>
    <td class="field"><%= text_field_tag :theoretical, @course.theoretical %></td>
  </tr>
  <tr>
    <td class="label">Uygulama</td>
    <td class="field"><%= text_field_tag :practice, @course.practice %></td>
  </tr>
  <tr>
    <td class="label">Laboratuar</td>
    <td class="field"><%= text_field_tag :lab, @course.lab %></td>
  </tr>
  <tr>
    <td class="label">Kredi</td>
    <td class="field"><%= text_field_tag :credit, @course.credit %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Güncelle", :id => "submit_button" %></td>
  </tr>
  </table>
<% end %>
