<h2><%= session[:department] %> Bölümüne Ders Ekle</h2>
<%= render :partial => "notice" %>
<%= form_tag({ :action => 'courseadd' }, :multipart => true) do %>
  <table class="custom">
  <tr>
    <td class="label">Sınıf(*)</td>
    <td class="field"><%= text_field_tag :year %></td>
  </tr>
  <tr>
    <td class="label">Kodu(*)</td>
    <td class="field"><%= text_field_tag :code %></td>
  </tr>
  <tr>
    <td class="label">Ad(*)</td>
    <td class="field"><%= text_field_tag :name %></td>
  </tr>
  <tr>
    <td class="label">Ortak Ders mi?<br/>(Ör: Türk Dili Gibi Ders İçin "Evet")</td>
    <td class="field">
      Evet
      <%= radio_button_tag("common", '1')%>
      Hayır
      <%= radio_button_tag("common", '0', true)%>
    </td>
  </tr>
  <tr>
    <td class="label">Grup Dersi mi?<br/>(Ör: Bitirme Çalışması Gibi Ders İçin "Evet")</td>
    <td class="field">
      Evet
      <%= radio_button_tag("group", '1')%>
      Hayır
      <%= radio_button_tag("group", '0', true)%>
    </td>
  </tr>
  <tr>
    <td class="label">Teorik(*)</td>
    <td class="field"><%= text_field_tag :theoretical %></td>
  </tr>
  <tr>
    <td class="label">Uygulama(*)</td>
    <td class="field"><%= text_field_tag :practice %></td>
  </tr>
  <tr>
    <td class="label">Laboratuar(*)</td>
    <td class="field"><%= text_field_tag :lab %></td>
  </tr>
  <tr>
    <td class="label">Kredi(*)</td>
    <td class="field"><%= text_field_tag :credit %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Kaydet", :id => "submit_button" %></td>
  </tr>
  </table>
<% end %>
