<!-- facebox -->
<script src="/assets/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
loadingImage : '/assets/loading.gif',
closeImage   : '/assets/closelabel.png'
})
      })
</script>
<!-- facebox -->

<h2><%= session[:department] %> Bölümü Yönetim Paneli</h2>

<div class="code">
  <h2>Bilgi</h2>
  <code>
    Yukarıdaki işlem menüsünden istediğinizi seçip işleme başlayabilirsiniz.
  </code>
</div>

<br/>

<div class="module">
  <div class="inner">
    <h2>Bölüm Bilgileri</h2>
    <div class='description'>
      <table>
        <colgroup><col width=190 /><col width=70 /><col width=60 /><col width=70 /></colgroup>
        <tr>
          <td><b>Bölüm </b></td><th>Öğretim Üyesi</th><th>Ders</th><th>Ders Atama</th><th>Ders Programı</th><th>Durum</th>
        </tr>
        <% department = Department.find(session[:department_id]) %>
        <tr>
          <td><%= department.name %> </td>
          <th><%= Lecturer.where(:department_id => department.id).count %></th>
          <th><%= Course.where(:department_id => department.id).count %></th>
          <th>
            <a href="#assignment<%= department.id.to_s %>" rel="facebox">
              %<%= assignment_percent = department.assignment_percent(session[:period_id])%>
            </a>
          </th>
          <th>
            <a href="#schedule<%= department.id.to_s %>" rel="facebox">
              %<%= schedule_percent = department.schedule_percent(session[:period_id]) %>
            </a>
          </th>
          <th>
            <div id="realtime">
              <a class="status <%= percent(assignment_percent, schedule_percent) %>" style="margin-top:-8px"></a>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- for facebox info -->
<div id="assignment<%= department.id.to_s %>" style="display:none;">
  <div class="module">
    <div class="inner">
      <h2>Ders Vermeyen Öğretim Üyesi</h2>
      <div class='description'>
        <table>
          <colgroup><col width=250 /><col width=110 /></colgroup>
          <% department.not_assignment_lecturer(session[:period_id]).each do |lecturer| %>
            <tr>
              <td><%= lecturer.full_name %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="schedule<%= department.id.to_s %>" style="display:none;">
  <div class="module">
    <div class="inner">
      <h2>Programı Hazır Olmayan Dersler</h2>
      <div class='description'>
        <table>
          <colgroup><col width=250 /><col width=110 /></colgroup>
          <% department.not_schedule_course(period.id).each do |course_id, lecturer_ids| %>
            <tr>
              <td><%= Course.find(course_id).full_name %></td>
            </tr>
            <% lecturer_ids.each do |lecturer_id| %>
              <tr>
                <td></td>
                <th><%= Lecturer.find(lecturer_id).full_name %></th>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- end for facebox info -->

