<link type="text/css" rel="stylesheet" href="/assets/datatable.css"/>
<script type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" src="/assets/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
  });
</script>
<style>
  .module {
    margin-top:-15px;
  }
</style>
<h2><%= session[:department] %> Bölümünün Öğretim Elamanları İnceleniyor...</h2>
<div class="dt_example module">
   <table cellpadding="0" cellspacing="0" border="0" class="display" 
       id="example">
   <thead>
    <tr>
      <th class="label">Fotoğraf</th>
      <th class="label">Adı</th>
      <th class="label">Soyadı</th>
      <th class="label">Email</th>
      <th class="label">İş telefonu</th>
      <th class="label">Cep telefonu</th>
      <th class="label">Bölüm başkanı mı?</th>
      <th class="label">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <% @lecturers.each do |lecturer| %>
      <tr>
        <td class="label">
          <% if lecturer.photo %>
            <%= image_tag lecturer.photo, :width => 26, :height => 26 %>
          <% else %>
            <%= image_tag '/default.png', :width => 26, :height => 26 %>
          <% end %>
        </td>
        <td class="label"><%= lecturer.first_name %></td>
        <td class="label"><%= lecturer.last_name %></td>
        <td class="label"><%= lecturer.email %></td>
        <td class="label"><%= lecturer.work_phone %></td>
        <td class="label"><%= lecturer.cell_phone %></td>
        <td class="label"><% if lecturer.status %>evet<% else %>hayır<% end %></td>
        <td class="label" style="float:left;width:92px">
          <%= form_tag :action => 'lecturershow' do %>
            <%= hidden_field_tag :lecturer_id, lecturer.id %>
            <%= submit_tag "",:id => "review_button" %>
          <% end %>
          <%= form_tag :action => 'lectureredit' do %>
            <%= hidden_field_tag :lecturer_id, lecturer.id %>
            <%= submit_tag "",:id => "edit_button" %>
          <% end %>
          <%= form_tag :action => 'lecturerdel' do %>
            <%= hidden_field_tag :lecturer_id, lecturer.id %>
            <!--<%= submit_tag "", :id => "delete_button", :confirm => 'Silmek istediğinizden emin misiniz?' %>-->
          <%= submit_tag "", :id => "delete_button",
            :onClick => "return confirm('#{Lecturer.find(lecturer.id).full_name} isimli öğretim görevlisini " +
            "silmek üzeresiniz. Silmek istediğinizden emin misiniz ?');" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
