<h2><%= session[:department] %> bölümü öğretim görevlisi düzenle</h2>
<%= form_tag({ :action => 'lecturerupdate' }, :multipart => true) do %>
  <table class="custom">
  <tr>
    <td class="label">Adı</td>
    <td class="field"><%= text_field_tag :first_name, @lecturer.first_name %></td>
  </tr>
  <tr>
    <td class="label">Soyadı</td>
    <td class="field"><%= text_field_tag :last_name, @lecturer.last_name %></td>
  </tr>
  <tr>
    <td class="label">Fotoğraf</td>
    <td class="field">
      <%= file_field_tag :file %>
      <%= image_tag @lecturer.photo, :width => 64, :height => 64 %>
    </td>
  </tr>
  <tr>
    <td class="label">Email</td>
    <td class="field"><%= text_field_tag :email, @lecturer.email %></td>
  </tr>
  <tr>
    <td class="label">İş telefonu</td>
    <td class="field"><%= text_field_tag :work_phone, @lecturer.work_phone %></td>
  </tr>
  <tr>
    <td class="label">Cep telefonu</td>
    <td class="field"><%= text_field_tag :cell_phone, @lecturer.cell_phone %></td>
  </tr>
  <tr>
    <td class="label">Bölüm başkanı mı?</td>
    <td class="field">
      evet
      <%= radio_button_tag("status", '1', @lecturer.status)%>
      hayır
      <%= radio_button_tag("status", '0', !@lecturer.status)%>
    </td>
  </tr>
  <tr>
    <td class="label">Devam durumu</td>
    <td class="field">
      Devamlı
      <%= radio_button_tag("continuity", '1', @lecturer.continuity)%>
      Devamsız
      <%= radio_button_tag("continuity", '0', !@lecturer.continuity)%>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Güncelle", :id => "submit_button" %></td>
  </tr>
</table>
<% end %>
