<%= stylesheet_link_tag "login" %>
<h2 id="boxline">Akademisyen Girişi</h2>

<style>
  .success, .error{ margin:50px auto -84px; width:400px; }
  #footer {width:415px;}
</style>
<%= form_tag :action => 'login' do %>
  <table class="login">
    <tr>
      <td class="label"> Kullanıcı Adı: </td>
      <td class="field"><%= text_field_tag :first_name, "", :placeholder => "Kullanıcı adını yazın" %></td>
    </tr>
    <tr>
      <td class="label"> Parola: </td>
      <td class="field"><%= password_field_tag :password, "", :placeholder => "Kullanıcı parolasını yazın" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Giriş Yap", :id => "submit_button" %></td>
    </tr>
  </table>
<% end %>
