<!-- dual listbox -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- end dual listbox -->

<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümü programı öğretim görevlisi programı ayarla</h2>
    <table class="custom">
      <tr>
        <td class="label">Fotoğraf</td>
        <td>
          <%= image_tag Lecturer.find(session[:lecturer_id]).photo %>
        </td>
      </tr>
      <tr>
        <td class="label">Öğretim görevlisi</td>
        <td>
          <%= Lecturer.find(session[:lecturer_id]).full_name %>
        </td>
      </tr>
      <tr>
        <td class="label">Verdiği ders</td>
        <td>
          <select id="course_ids" name="course_ids">
            <% session[:course_ids].each do |k, v| %>
              <option value="<%= k %>" selected>
                <%= v %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Ders için program </td>
        <td>
          <style>
            .col {width:100px;border:1px solid #cccccc;}
          </style>
          <div id="cer">
            <table>
              <tr>
                <th class="col">Saatler/Günler</th>
                <% days = {"Sunday" => "Pazartesi",
                           "Tuesday" => "Salı",
                           "Wednesday" => "Çarşamba",
                           "Thursday" => "Perşembe",
                           "Friday" => "Cuma"}
                %>
                <% days.each do |day_en, day_tr| %>
                  <th class="col" colspan=2><%= day_tr %></th>
                <% end %>
              </tr>
              <% (8..11).each do |hour| %>
              <tr>
                <th class="col"><%= time=(hour).to_s+':15'+' '+(hour+1).to_s+':00' %></th>
                <% days.each do |day_en, day_tr| %>
                  <% classplan = Classplan.find(:first,
                                    :conditions => {
                                      :period_id => session[:period_id],
                                      :day => day_en,
                                      :begin_time => hour.to_s+'-15'
                  }) %>
                  <th class='col' id="<%= day_en + hour.to_s+'-15course' %>">
                    <%= classplan.assignment.course.full_name if classplan %>
                  </th>
                  <th class='col' id="<%= day_en + hour.to_s+'-15class' %>">
                    <%= classplan.classroom.name if classplan %>
                  </th>
                <% end %>
              </tr>
              <% end %>
              <%(13..22).each do |hour| %>
              <tr>
                <th class="col"><%= time=(hour).to_s+':00'+' '+(hour+1).to_s+':00' %></th>
                <% days.each do |day_en, day_tr| %>
                  <% classplan = Classplan.find(:first,
                                    :conditions => {
                                      :period_id => session[:period_id],
                                      :day => day_en,
                                      :begin_time => hour.to_s+'-00'
                  }) %>
                  <th class='col' id="<%= day_en + hour.to_s+'-00course' %>">
                    <%= classplan.assignment.course.full_name if classplan %>
                  </th>
                  <th class='col' id="<%= day_en + hour.to_s+'-00class' %>">
                    <%= classplan.classroom.name if classplan %>
                  </th>
                <% end %>
              </tr>
              <% end %>
            </table>
          </div>
        </th>
      </tr>
      <tr>
        <td></td>
        <td>
          <input id="submit_button" type='submit' value='Düzenle'/>
          <input id="submit_button" type='submit' value='Sil'/>
        </td>
      </tr>
    </table>
</div>

<!-- dual listbox -->
<script>
  $("#course_ids").change(function () {
    var part = $(this).val().split('#');
    if (part[0] != "") {
      if (part[0].indexOf(';') >= 0)
        var days = part[0].split(';');
      else
        var days = [part[0]];
      var course_id = part[1];
      $('th').css('border', "1px solid #ddd");
      for (var i = 0; i < days.length; i++) {
        $('#' + days[i]+'course').css('border', "1px solid #35addf");
        $('#' + days[i]+'class').css('border', "1px solid #35addf");
      }

      //$("#lecturer_id").html("<input type='hidden' id='lecturer_id' name='lecturer_id' value='" + lecturer_id + "'/>'");
    }
  })
  .trigger('change');
</script>
<!-- end dual listbox -->
