<!-- dual listbox -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- end dual listbox -->

<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümü programı öğretim görevlisi programı ayarla</h2>
  <%= form_tag({ :action => 'scheduleadd' }) do %>
    <table class="custom">
      <tr>
        <td class="label">Öğretim görevlisi</td>
        <td>
          <%= Lecturer.find(session[:lecturer_id]).full_name %>
        </td>
      </tr>
      <tr>
        <td class="label">Verdiği ders</td>
        <td>
          <select id="course_id" name="course_id">
            <% session[:course_ids].each do |k, v| %>
              <option value="<%= k %>" selected>
                <%= v %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Ders için program </td>
        <td>
          <style>
            .col {width:100px;border:1px solid #cccccc;}
          </style>
          <div id="cer">
            <table>
              <tr>
                <th class="col">Saatler/Günler</th>
                <% days = {"Sunday" => "Pazartesi",
                           "Tuesday" => "Salı",
                           "Wednesday" => "Çarşamba",
                           "Thursday" => "Perşembe",
                           "Friday" => "Cuma"}
                %>
                <% days.each do |day_en, day_tr| %>
                  <th class="col" colspan=2><%= day_tr %></th>
                <% end %>
              </tr>
              <% (8..11).each do |hour| %>
              <tr>
                <th class="col"><%= time=(hour).to_s+':15'+' '+(hour+1).to_s+':00' %></th>
                <% days.each do |day_en, day_tr| %>
                  <th class="col">
                  </th>
                  <th class="col">
                  </th>
                <% end %>
              </tr>
              <% end %>
              <%(13..22).each do |hour| %>
              <tr>
                <th class="col"><%= time=(hour).to_s+':00'+' '+(hour+1).to_s+':00' %></th>
                <% days.each do |day_en, day_tr| %>
                  <th class="col">
                  </th>
                  <th class="col">
                  </th>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </th>
      </tr>
      <tr>
        <td></td>
        <td>
          <input id="submit_button" type='submit' value='Kaydet'/>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<!-- dual listbox -->
<script>
  $("#course_id").change(function () {
    var part = $(this).val();
/*    for (var i = 0; i < ham_dersler.length; i++) {
      ders = ham_dersler[i].split(',');
      if (ders[1] != undefined)
      dersler +=  "<option value='"+ ders[0] +"'>" + ders[1] + "</option>";
    }*/
    // $("#course_id").html(dersler);
    //$("#lecturer_id").html("<input type='hidden' id='lecturer_id' name='lecturer_id' value='" + lecturer_id + "'/>'");
  })
  .trigger('change');
</script>
<!-- end dual listbox -->
