<!-- dual listbox -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- end dual listbox -->
<!-- jlistbox -->
<!-- kaynak : http://www.senamion.com/blog/jlistbox_demo.html -->
<link rel="stylesheet" href="/stylesheets/jquery.jListbox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery.bgiframe.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery.jListbox.js" ></script>
  <script type="text/javascript">
          $().ready(function() {
                  $("#lecturer, #test").jListbox();
                  $("#showcode2").click(function() { $("#code2").toggle(); });
          });
</script>
<!-- end jlistbox -->

<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümü programı öğretim görevlisi programı ayarla</h2>
  <%= form_tag({ :action => 'scheduleadd' }) do %>
    <table class="custom">
      <tr>
        <td class="label">Öğretim görevlisi</td>
        <td>

          <select id="lecturer" name="lecturer">
            <%= @assignments.each do |k, lecturer| %>
              <option  rel="<img width='56' height='56' src='/images/<%= lecturer.photo %>'/>" value="<%= k %>" selected>
                <%= lecturer.full_name %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
      <p id="lecturer_id" name="lecturer_id"></p>
      <tr>
        <td class="label">Verdiği ders</td>
        <td>
          <select id="course_id" name="course_id">
          </select>
          </td>
      </tr>
      <tr>
        <td class="label">Ders için program </td>
        <td>
          <style>
            .col {width:100px;border:1px solid #cccccc;}
          </style>
          <div id="cer">
            <table>
              <tr>
                <th class="col">Saatler/Günler</th>
                <% days = ["Pazartesi","Salı","Çarşamba","Perşembe","Cuma"] %>
                <% days.each do |day| %>
                  <th class="col" colspan=2><%= day %></th>
                <% end %>
              </tr>
                <% (8..11).each do |hour| %>
                <tr>
                  <th class="col"><%= time=(hour).to_s+':15'+' '+(hour+1).to_s+':00' %></th>
                  <% days.length.times do |i| %>
                    <th class="col">
                      <input type="checkbox" name="time"
                        id="<%= 'seçim : '+(days[i]).to_s+' - '+time %>"
                        value="<%= (hour).to_s+':15' %>" onchange="alert(this.id)"/>
                    </th>
                    <th class="col">
                      <select id="lesson" name="lesson" style="width:75px">
                          <option value="" selected>
                          </option>
                        <%= @class.each do |k| %>
                          <option value="<%= k.id %>">
                            <%= k.name %>
                          </option>
                        <% end %>
                      </select>
                    </th>
                  <% end %>
                </tr>
                <% end %>
                <%(13..22).each do |hour| %>
                <tr>
                  <th class="col"><%= time=(hour).to_s+':00'+' '+(hour+1).to_s+':00' %></th>
                  <% days.length.times do |i| %>
                    <th class="col">
                      <input type="checkbox" name="time"
                        id="<%= 'seçim : '+(days[i]).to_s+' - '+time %>"
                        value="<%= (hour).to_s+':00' %>" onchange="alert(this.id)"/>
                    </th>
                    <th class="col">
                      <select id="lesson" name="lesson" style="width:75px">
                          <option value="" selected>
                          </option>
                        <%= @class.each do |k| %>
                          <option value="<%= k.id %>">
                            <%= k.name %>
                          </option>
                        <% end %>
                      </select>
                    </th>
                  <% end %>
                </tr>
                <% end %>
            </table>
          </div>
        </th>
      </tr>
      <tr>
        <td></td>
        <td>
          <input id="submit_button" type='submit' value='Kaydet' />
        </td>
      </tr>
    </table>
  <% end %>
</div>
<!-- dual listbox -->
<script>
  $("#lecturer").change(function () {
    var part = $(this).val().split('#');
    var ham_dersler = part[0].split(';');
    var lecturer_id = part[1];
    var dersler = "";
    for (var i = 0; i < ham_dersler.length; i++) {
      ders = ham_dersler[i].split(',');
      if (ders[1] != undefined)
      dersler +=  "<option value='"+ ders[0] +"'>" + ders[1] + "</option>";
    }
    $("#course_id").html(dersler);
    $("#lecturer_id").html("<input type='hidden' id='lecturer_id' name='lecturer_id' value='" + lecturer_id + "'/>'");
  })
  .trigger('change');
</script>
<!-- end dual listbox -->
