<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümü programı öğretim görevlisi programı ayarla</h2>
    <%= form_tag({ :action => 'lecturerchoice' }) do %>
    <table class="custom">
      <tr>
        <td class="label">Hoca seçiniz</td>
        <td>
          <select id="x" name="lecturer_id">
            <%= @lecturers.each do |lecturer| %>
              <option class="image_with_name"
                      value="<%= lecturer.id %>" selected>
                <%= lecturer.full_name %>
              </option>
            <% end %>
          </select>
        </td>
        <input type="button" value="Disable" onclick="$('#x').attr('disabled',true)"/>
      </tr>
      <% if session[:lecturer_id] %>
        <td class="label">
          <%= image_tag "/images/#{Lecturer.find(session[:lecturer_id]).photo}", :width => 75, :height => 75 %>
        </td>
      <% end %>
    <% end %>
    <%= form_tag({ :action => 'scheduleadd' }) do %>
      <tr>
        <td class="label">Ders seçiniz</td>
        <td>
            <select name="course_id">
            <%= @lecturers.each do |lecturer| %>
              <option class="image_with_name" style="background-image:url(/images/<%= lecturer.photo %>);" value="<%= lecturer.id %>">
                <%= lecturer.full_name %>
              </option>
            <%end%>
            </select>
        </td>
      </tr>
      <tr>
        <td class="label">ders saatleri - yerleri </td>
        <td>
          <style>
            .col {width:100px;border:1px solid #cccccc;}
          </style>
          <div id="cer">
            <table>
              <tr>
                <th class="col">Saatler/Günler</th>
                <% days = ["Pazartesi","Salı","Çarşamba","Perşembe","Cuma"] %>
                <% days.each do |day| %>
                  <th class="col"><%= day %></th>
                <% end %>
              </tr>

                <% (8..12).each do |hour| %>
                <tr>
                  <th class="col"><%= time=(hour).to_s+':15'+' '+(hour+1).to_s+':00' %></th>
                  <% days.length.times do |i| %>
                    <th class="col">
                      <input type="checkbox" name="time"
                        id="<%= 'şu saate seçtiniz : '+(days[i]).to_s+' - '+time %>"
                        value="<%= (hour).to_s+':15' %>" onchange="alert(this.id)"/>
                    </th>
                  <% end %>
                </tr>
                <% end %>
                <%(13..16).each do |hour| %>
                <tr>
                  <th class="col"><%= time=(hour).to_s+':00'+' '+(hour+1).to_s+':00' %></th>
                  <% days.length.times do |i| %>
                    <th class="col">
                      <input type="checkbox" name="time"
                        id="<%= 'şu saate seçtiniz : '+(days[i]).to_s+' - '+time %>"
                        value="<%= (hour).to_s+':00' %>" onchange="alert(this.id)"/>
                    </th>
                  <% end %>
                </tr>
                <% end %>
            </table>
          </div>
        </th>
      </tr>
      <tr>
        <td></td>
        <td>
          <input id="submit_button" type='submit' value='Kaydet' />
        </td>
      </tr>
    </table>
  <% end %>
</div>
