<link type="text/css" rel="stylesheet" href="/stylesheets/datatable.css"/>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
  });
</script>
<h2><%= session[:department] %> Bölümünün Ders Programları İnceleniyor...</h2>
<div class="dt_example module">
   <table cellpadding="0" cellspacing="0" border="0" class="display" 
       id="example">
   <thead>
    <tr>
      <th>Fotoğraf</th>
      <th>Ad Soyad</th>
      <th>Dersler</th>
      <th>İşlemler</th>
    </tr>
   </thead>
   <tbody>
    <% @classplans.each do |lecturer, course_ids| %>
      <tr>
        <td class="label"><%= image_tag lecturer.photo, :width => 75, :height => 75 %></td>
        <td class="label"><%= lecturer.full_name %></td>
        <td class="field">
        <% course_ids.each do |course_id| %>
          <ul><%= Course.find(course_id).full_name %></ul>
        <% end %>
        </td>
        <td class="label" style="float:left;width:92px">
          <%= form_tag :action => 'scheduleshow' do %>
            <%= hidden_field_tag :lecturer_id, lecturer.id %>
            <%= submit_tag "",:id => "review_button" %>
          <% end %>
          <!--<%= form_tag :action => 'scheduleedit' do %>
            <%= hidden_field_tag :lecturer_id, lecturer.id %>
            <%= submit_tag "",:id => "edit_button" %>
          <% end %>-->
          <%= form_tag :action => 'scheduledel' do %>
            <%= hidden_field_tag :lecturer_id, lecturer.id %>
            <%= submit_tag "", :id => "delete_button",
              :onClick => "return confirm('#{lecturer.full_name} isimli öğretim görevlisinin bu dönemlik " +
                          "verdiği tüm dersleri silmek üzeresiniz. " +
                          "Silmek istediğinizden emin misiniz ?');" %><!-- FIXME -->
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
