<div class="page">
  <h2 id="headline"><%= session[:department] %> bölümünün hocaları inceleniyor...</h2>
  <table class="custom">
    <tr>
      <td class="label">Adı</td>
      <td class="label">Soyadı</td>
      <td class="label">Fotoğraf</td>
      <td class="label">Email</td>
      <td class="label">İş telefonu</td>
      <td class="label">Cep telefonu</td>
      <td class="label">Başkan mı?</td>
    </tr>

    <% @data.each do |kisi| %>
      <tr>
        <td class="label"><%= kisi.first_name %></td>
        <td class="label"><%= kisi.last_name %></td>
        <td class="label"><img src="/images/<%= kisi.photo %>"/></td>
        <td class="label"><%= kisi.email %></td>
        <td class="label"><%= kisi.work_phone %></td>
        <td class="label"><%= kisi.cell_phone %></td>
        <td class="label"><%= kisi.status %></td>
        <td class="label">
          <%= form_tag :action => 'tutorshow' do %>
            <%= hidden_field_tag :_key,  kisi.id %>
            <%= submit_tag "İncele", :id => "submit_button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
