<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if session[:admin] %>
    <div id="wrapper">
      <div id="container">
        <ul class="tabs" id="mainNav">
          <li class="current home">
          <a href="<%= RAILS_ROOT %>"
            title="Kullanıcı adınız"><%= session[:adminusername] %></a>
          </li>
          <li class="magenta">
            <a href="info" title="Bilgilendirme sayfası">Bilgilendirme</a>
          </li>
          <li class="green">
            <a href="logout" title="Çıkış">Çıkış</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @error %>
    <div id="notice"><p class="fail"><%= @error %></p></div>
  <% end %>

  <% if @correct %>
    <div id="notice"><p class="success"><%= @correct %></p></div>
  <% end %>

 <div id="content">
    <% if session[:admin] %>
      <div id="leftcolumn">
        <table>
          <tr><td>
              <img src="/images/table.png"/><%= session[:TABLE] %>
          </td></tr>
          <tr><td>
          <img src="/images/save.png"/><%= session[:SAVE] %>
          </td></tr>
          <tr><td>
              <a href="home" title="">
		<img src="/images/tables.png"/>Tablolar</a>
          </td></tr>
          <tr><td>
              <a href="review" title="">
                <img src="/images/review.png"/>Tablo İncele</a>
          </td></tr>
          <tr><td>
              <a href="new" title="">
                <img src="/images/add.png"/>Ekle</a>
          </td></tr>
          <tr><td>
              <a href="find" title="">
                <img src="/images/find.png"/>Bul</a>
          </td></tr>
          <tr><td>
              <a href="csv" title="">
                <img src="/images/csv.png"/>Csv Çıktı</a>
          </td></tr>
        </table>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
