<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if session[:admin] %>
    <div id="wrapper">
      <div id="container">
        <ul class="tabs" id="mainNav">
          <li class="current">
            <a href="/admin/giris" title="Kullanıcı adınız"><%= session[:adminusername] %></a>
          </li>
          <% if session[:adminsuper] %>
            <li class="green">
              <a href="info" title="Bilgilendirme sayfası">Bilgilendirme</a>
            </li>
          <% end %>
          <li class="green">
            <a href="logout" title="Çıkış">Çıkış</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if session[:error] %>
    <div class="error"><h3>Bir problemimiz var</h3><%= session[:error] %></div>
  <% end %>

  <% if session[:notice] %>
    <div class="notice"><h3>Bir başarı iletisi var</h3><%= session[:notice] %></div>
  <% end %>

  <div id="content">
    <% if session[:admin] %>
      <div id="leftcolumn">
        <table>
          <tr><td>
              <img src="/images/table.png"/><%= session[:TABLE] %>
          </td></tr>
            <% if session[:adminsuper] %>
            <tr><td>
              <img src="/images/save.png"/><%= session[:SAVE] %>
            </td></tr>
            <% end %>
          <tr><td>
              <a href="home" title="">
		<img src="/images/tables.png"/>Tablolar</a>
          </td></tr>
          <tr><td>
              <a href="review" title="">
                <img src="/images/review.png"/>Tablo İncele</a>
          </td></tr>
          <tr><td>
              <a href="new" title="">
                <img src="/images/add.png"/>Ekle</a>
          </td></tr>
            <% if session[:adminsuper] %>
            <tr><td>
              <a href="find" title="">
                <img src="/images/find.png"/>Bul</a>
            </td></tr>
            <% end %>
          <!--
          <tr><td>
              <a href="csv" title="">
                <img src="/images/csv.png"/>Csv Çıktı</a>
          </td></tr>
          -->
        </table>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
