<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if session[:admin] %>
    <div id="wrapper">
      <div id="container">
        <ul class="tabs" id="mainNav">
          <li class="home">
            <a href="/admin/giris" title="Kullanıcı adınız"><%= session[:adminusername] %></a>
          </li>
          <li class="magenta">
          <a href="info"
            title="Bilgilendirme sayfası">Bilgilendirme</a>
          </li>
          <li class="logout">
          <a href="logout" title="Çıkış">Çıkış</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if session[:error] %>
    <div class="error"><h3 id="errorline">Bir problemimiz var!</h3><%= session[:error] %></div>
  <% end %>

  <% if session[:notice] %>
    <div class="notice"><h3 id="noticeline">Bir başarı iletisi var!</h3><%= session[:notice] %></div>
  <% end %>

  <div id="content">
    <% if session[:admin] %>

      <div class="mt-navholder">
        <ul class="mt-nav">
            <li class="menu"><a href="a" class="tab">İşlemler</a>
                <ul>
                  <li><a href="/admin/home" class="menu-1" ><b>Tablolar</b></a></li>
                  <li><a href="c" class="menu-2"><em>(dv) Dedicated-Virtual</em></a></li>
                  <li><a href="d" class="menu-3"><em>(ve) Server BETA</em></a></li>
                  <li><a href="e" class="menu-4"><em>(dpv) Nitro</em></a></li>
                  <li><a href="f" class="menu-5"><em>(cx) Complex Hosting</em></a></li>
                  <li class="lastli"><a href="webhosting/procdn/" class="menu-6"><em>ProCDN. Go Global.</em></a></li>
                </ul>
            </li>
        </ul>
      </div>
      <div class="mt-navholder">
        <ul class="mt-nav">
            <li class="menu"><a href="a" class="tab">İşlemler</a>
                <ul>
                  <li><a href="/admin/home" class="menu-1" ><b>Tablolar</b></a></li>
                  <li><a href="c" class="menu-2"><em>(dv) Dedicated-Virtual</em></a></li>
                  <li><a href="d" class="menu-3"><em>(ve) Server BETA</em></a></li>
                  <li><a href="e" class="menu-4"><em>(dpv) Nitro</em></a></li>
                  <li><a href="f" class="menu-5"><em>(cx) Complex Hosting</em></a></li>
                  <li class="lastli"><a href="webhosting/procdn/" class="menu-6"><em>ProCDN. Go Global.</em></a></li>
                </ul>
            </li>
        </ul>
      </div>
      <div id="column">
        <table>
          <tr><td>
              <img src="/images/table.png"/><%= session[:TABLE] %>
          </td></tr>
            <tr><td>
              <img src="/images/save.png"/><%= session[:SAVE] %>
            </td></tr>
          <tr><td>
              <a href="home" title="">
		<img src="/images/tables.png"/>Tablolar</a>
          </td></tr>
          <tr><td>
              <a href="review" title="">
                <img src="/images/review.png"/>Tablo İncele</a>
          </td></tr>
          <tr><td>
              <a href="new" title="">
                <img src="/images/add.png"/>Ekle</a>
          </td></tr>
            <tr><td>
              <a href="find" title="">
                <img src="/images/find.png"/>Bul</a>
            </td></tr>
          <!--
          <tr><td>
              <a href="csv" title="">
                <img src="/images/csv.png"/>Csv Çıktı</a>
          </td></tr>
          -->
        </table>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
