<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style>
    #panel {width:920px;height:60px;border-bottom:1px solid #ddd;}
    #panel ul {font-size:12px;font-weight:bold;list-style-type:none;margin-left:-10px;}
    #panel li {float:left;width:100px;color:#3b5998;text-align:center;margin-left:45px;}
    #panel li img {width:40px;height:40px;margin:0 34px;}
    .page{margin-left:0px;width:920px}
    .success, .error{ width:400px; margin-top:-40px; }
  </style>
</head>
<body>
  <% if session[:admin] %>
    <div id="wrapper">
      <div id="container">
        <ul class="tabs" id="mainNav">
          <li class="home current">
            <a href="/admin/home" title="Kullanıcı adınız"><%= session[:adminusername] %></a>
          </li>
          <li class="magenta">
          <a href="info"
            title="Bilgilendirme sayfası">Bilgilendirme</a>
          </li>
          <li class="logout">
          <a href="logout" title="Çıkış">Çıkış</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if session[:error] %>
    <div id="notice">
      <div class="error">
        <h3 id="errorline">Bir problemimiz var!</h3>
        <%= session[:error] %>
      </div>
    </div>
  <% end %>

  <% if session[:success] %>
    <div id="notice">
      <div class="success">
        <h3 id="successline">Bir başarı iletisi var!</h3>
        <%= session[:success] %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <% if session[:admin] %>
      <style>
        #admin-panel ul li {width:100px;margin-left:50px;}
        #admin-panel ul li img {width:40px;height:40px;margin:0 34px;}
      </style>
      <div id="admin-panel">
          <ul>
            <li>
                <img src="/images/accept_database.png"/><%= session[:TABLE] %>
            </li>
            <li>
                <img src="/images/save.png"/><%= session[:SAVE] %>
            </li>
            <li>
                <a href="home" title="">
                  <img src="/images/database.png"/>Tablolar</a>
            </li>
            <li>
                <a href="review" title="">
                  <img src="/images/search_page.png"/>Tablo İncele</a>
            </li>
            <li>
                <a href="new" title="">
                  <img src="/images/add_to_database.png"/>Ekle</a>
            </li>
            <li>
                <a href="find" title="">
                  <img src="/images/search_page.png"/>Ara</a>
            </li>
        </ul>
          <!--
          <tr><td>
              <a href="csv" title="">
                <img src="/images/csv.png"/>Csv Çıktı</a>
          </td></tr>
          -->
        </table>
      </div>
    <% end %>
    <%= yield %>
  </div>

<div id="footer">
  <ul class="recent photos" style="float:left;">
    <li>
    <a href="http://ce.omu.edu.tr" title="Bilgisayar Mühendisliği">
      <%= image_tag "/images/19-normal-57x57.png", :width => 26, :height => 26 %>
    </a>
    </li>
  </ul>
  <div style="margin-left:60px;margin-top:5px">
    copyright &copy; 2011 Mühendislik Fakültesi Program Arama Sistemi<br/>
    <b>irtibat</b> : <code id="errorline">web@bil.omu.edu.tr</code>
  </div>
</div>

</body>
</html>
