<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "style-home"%>
  <%= javascript_include_tag "jquery" %>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <style>
    #content {min-height:100px}
    .platform-bar {
      width: 960px;
      margin: auto;
      padding: 0px;
      border-top-left-radius:5px;
      border-top-right-radius:5px;
    }
    div.page-header {
      background:url(/assets/mf-140x140.png) no-repeat 98% top;
      height: 90px;
      background-size: auto;
    }
  </style>
</head>
<body>

  <div class="modal hide fade" id="user"> <!-- modal-form -->
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Akademisyen Girişi</h3>
    </div>
    <div class="modal-body">
      <%= form_tag({:action => 'login', :controller => 'user'}, :method => 'post', :class => "well") do %>
        <table class="login">
          <tr>
            <td class="label"> Kullanıcı Adı: </td>
            <td class="field"><%= text_field_tag :first_name, "", :placeholder => "Kullanıcı adını yazın" %></td>
          </tr>
          <tr>
            <td class="label"> Parola: </td>
            <td class="field"><%= password_field_tag :password, "", :placeholder => "Kullanıcı parolasını yazın" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= submit_tag "Giriş Yap", :id => "submit_button" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div> <!-- end of modal-form -->

  <!--PLATFORM BAR-->
  <div class="platform-bar">
    <div class="row bar-content">
      <span class="title">
        <a href="http://mf.omu.edu.tr" >
          ONDOKUZ MAYIS ÜNİVERSİTESİ MÜHENDİSLİK FAKÜLTESİ
        </a>
      </span>
      <ul class="related">
        <li class="menu">
          <a href="/home/index">
            Ana Sayfa
          </a>
        </li>
        <li class="menu">
          <a href="/home/about">
            Hakkında
          </a>
        </li>
        <li class="end">
        <% unless session[:user] %> <!-- login using javascript -->
          <a data-toggle="modal" href="#user">
            Akademisyen Giriş
          </a>
        <% else %>
          <a href="/user"><!-- for user auth -->
            Akademisyen Giriş
          </a>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  <!--PLATFORM BAR END-->

  <div id="logo">
    <div class="page-header">
      <h1>Ondokuz Mayıs Üniversitesi</h1>
      <h2>Mühendislik Fakültesi Eğitim Öğretim Planları</h2>
    </div>
    <% page = File.basename request.fullpath %>
    <div id="notice" style="margin-top:-30px;">
      <div class="row">
        <ul class="sub-nav" id="title">
          <li class="<%= 'current' if ["index"].include?(page) %>">
          <a href="/home/index" title="Ana Sayfa">
            Ana Sayfa
          </a>
          </li>
          <li class="<%= 'current' if ["lecturer"].include?(page) %>">
          <a href="/home/lecturer">
            Öğretim Üyesi Planı
          </a>
          </li>
          <li class="<%= 'current' if ["class"].include?(page) %>">
          <a href="/home/class">
            Sınıf Planı
          </a>
          </li>
          <li class="<%= 'current' if ["department"].include?(page) %>">
          <a href="/home/department">
            Bölüm Planı
          </a>
          </li>
          <li class="<%= 'current' if ["help"].include?(page) %>">
          <a href="/home/help">
            Yardım
          </a>
          </li>
          <li class="<%= 'current' if ["about"].include?(page) %>">
          <a href="/home/about">
            Hakkında
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <% if flash[:error] %>
    <div id="notice">
      <div class="error2">
        <%= flash[:error] %>
      </div>
    </div>
  <% end %>

  <% if flash[:success] %>
    <div id="notice">
      <div class="success2">
        <%= flash[:success] %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <ul class="recent photos xsmall">
      <li><a href="http://ce.omu.edu.tr" title="Bilgisayar Mühendisliği">
        <%= image_tag "/assets/19-normal-57x57.png"%>
      </a></li>
    </ul>
    copyright &copy; <%= Time.now.strftime("%Y") %> Mühendislik Fakültesi Eğitim Öğretim Planları<br/>
    <b>irtibat</b> : <code id="errorline">web@bil.omu.edu.tr</code>
    <ul class="float:right">
      <img alt="Website counter" hspace="0" vspace="0" border="0" src="http://www.amazing-counters.com/5334299-769E74C8AF862F291D5221BCF0D116D8/counter.img?theme=2&digits=7&siteId=7"/>
      <noscript><br/><a href="http://www.best-traveldestinations.com">Free Counter</a><br>The following text will not be seen after you upload your website, please keep it in order to retain your counter functionality <br> <a href="http://www.onlinecasinofair.com" target="_blank">casino jackpot</a></noscript>
    </ul>
  </div>

  <!-- nav-up-down -->
  <div style="display:none;" class="nav_up" id="nav_up"></div>
  <div style="display:none;" class="nav_down" id="nav_down"></div>
  <script src="/assets/scroll-startstop.events.jquery.js" type="text/javascript"></script>
  <script>
    $(function() {
      var $elem = $('#content');

      $('#nav_up').fadeIn('slow');
      $('#nav_down').fadeIn('slow');

      $(window).bind('scrollstart', function(){
        $('#nav_up,#nav_down').stop().animate({'opacity':'0.2'});
      });
      $(window).bind('scrollstop', function(){
        $('#nav_up,#nav_down').stop().animate({'opacity':'1'});
      });

      $('#nav_down').click(
      function (e) {
        $('html, body').animate({scrollTop: $elem.height()}, 800);
      }
      );
      $('#nav_up').click(
      function (e) {
        $('html, body').animate({scrollTop: '0px'}, 800);
      }
      );
    });
  </script>
  <!-- nav-up-down -->
</body>
</html>
