<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style>
    #column {margin-top:20px;width:135px;height:135px;}
    #column tr img {width:128px;height:128px;}
    #column td {width:100px;}
    .page{margin-bottom:-125px;}
  </style>
</head>
<body>
  <div id="logo">
    <%= image_tag "/images/mf.jpg" %>
    <h1 style="margin-top:-40px;margin-left:300px;">OMÜ Mühendislik Fakültesi Program Arama Sistemi</h1>
  </div>
  <% if session[:error] %>
    <div class="error"><h3>Bir problemimiz var</h3><%= session[:error] %></div>
  <% end %>

  <% if session[:notice] %>
    <div class="notice"><h3>Bir başarı iletisi var</h3><%= session[:notice] %></div>
  <% end %>

 <div id="content">
    <%= yield %>
  </div>

</body>
</html>
