<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="logo">
    <%= image_tag "/images/mf.jpg" %>
    <h1 style="margin-top:-40px;margin-left:300px;">OMÜ Mühendislik Fakültesi Program Arama Sistemi</h1>
  </div>
  <% if session[:error] %>
    <div class="error"><h3>Bir problemimiz var</h3><%= session[:error] %></div>
  <% end %>

  <% if session[:notice] %>
    <div class="notice"><h3>Bir başarı iletisi var</h3><%= session[:notice] %></div>
  <% end %>

 <div id="content">
    <%= yield %>
  </div>

</body>
</html>
