<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <style>
    #logo tr img {width:60px;}
    #logo td {width:70px;}
    .page{margin-left:5px;width:920px}
  </style>
</head>
<body>
  <style>
    .platform-bar {
      width: 960px;
      margin: auto;
      padding: 0px;
      border-top-left-radius:5px;
      border-top-right-radius:5px;
    }
  </style>
  <!--PLATFORM BAR-->
  <div class="platform-bar">
    <div class="row bar-content" style="margin-left:19px">
      <span class="title">
        <a href="http://mf.omu.edu.tr" >
          ONDOKUZ MAYIS ÜNİVERSİTESİ MÜHENDİSLİK FAKÜLTESİ
        </a>
      </span>
      <ul class="related">
        <li class="title">
          <a href="/home/index">
            Ana Sayfa
          </a>
        </li>
        <li class="title">
          <a href="/home/info">
            Hakkında
          </a>
        </li>
        <li class="title">
          <a href="/user/">
            Akademisyen Girişi
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--PLATFORM BAR END-->

  <style>
    div.page-header{
      background:url(/images/mf-256x256.png) no-repeat 98% top;
      height: 130px;
      background-size: 20% auto;
    }
  </style>
  <div id="logo">
    <div class="page-header">
      <h1>Ondokuz Mayıs Üniversitesi</h1>
      <h2>Mühendislik Fakültesi Program Arama Sistemi</h2>
    </div>
  <% page = File.basename request.fullpath %>
  <div id="notice" style="margin-top:-30px;">
    <div class="row">
      <ul class="sub-nav" id="title">
        <li class="<%= 'current' if ["index"].include?(page) %>">
        <a href="/home/index" title="Ana Sayfa">
          Ana Sayfa
        </a>
        </li>
        <li class="<%= 'current' if ["find", "review"].include?(page) %>">
        <a href="/home/find">
          Arama
        </a>
        </li>
        <li class="<%= 'current' if ["auto", "show"].include?(page) %>">
        <a href="/home/auto">
          Hızlı Arama
        </a>
        </li>
        <li class="<%= 'current' if ["class"].include?(page) %>">
        <a href="/home/class">
          Sınıf Planı
        </a>
        </li>
        <li class="<%= 'current' if ["info"].include?(page) %>">
        <a href="/home/info">
          Hakkında
        </a>
        </li>
      </ul>
    </div>
  </div>
  </div>



  <% if session[:error] %>
    <div id="notice">
      <div class="error2">
        <%= session[:error] %>
      </div>
    </div>
  <% end %>

  <% if session[:success] %>
    <div id="notice">
      <div class="success2">
        <%= session[:success] %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <ul class="recent photos" style="float:left;">
      <li><a href="http://ce.omu.edu.tr" title="Bilgisayar Mühendisliği">
        <%= image_tag "/images/19-normal-57x57.png", :width => 26, :height => 26 %>
      </a></li>
    </ul>
    <div style="margin-left:60px;margin-top:5px">
      copyright &copy; 2011 Mühendislik Fakültesi Program Arama Sistemi
    </div>
  </div>
</body>
</html>
