<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "style-home"%>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery" %>
  <style>
    #logo tr img {width:60px;}
    #logo td {width:70px;}
    #content {min-height:100px}
  </style>
</head>
<body>
  <style>
    .platform-bar {
      width: 960px;
      margin: auto;
      padding: 0px;
      border-top-left-radius:5px;
      border-top-right-radius:5px;
    }
  </style>
  <!--PLATFORM BAR-->
  <div class="platform-bar">
    <div class="row bar-content" style="margin-left:19px">
      <span class="title">
        <a href="http://mf.omu.edu.tr" >
          ONDOKUZ MAYIS ÜNİVERSİTESİ MÜHENDİSLİK FAKÜLTESİ
        </a>
      </span>
      <ul class="related">
        <li class="title">
          <a href="/home/index">
            Ana Sayfa
          </a>
        </li>
        <li class="title">
          <a href="/home/info">
            Hakkında
          </a>
        </li>
        <li class="title">
          <a href="/user/">
            Akademisyen Giriş
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--PLATFORM BAR END-->

  <style>
    div.page-header {
      background:url(/assets/mf-140x140.png) no-repeat 98% top;
      height: 90px;
      background-size: auto;
    }
  </style>
  <div id="logo">
    <div class="page-header">
      <h1>Ondokuz Mayıs Üniversitesi</h1>
      <h2>Mühendislik Fakültesi Eğitim Öğretim Planları</h2>
    </div>
    <% page = File.basename request.fullpath %>
    <div id="notice" style="margin-top:-30px;">
      <div class="row">
        <ul class="sub-nav" id="title">
          <li class="<%= 'current' if ["index"].include?(page) %>">
          <a href="/home/index" title="Ana Sayfa">
            Ana Sayfa
          </a>
          </li>
          <li class="<%= 'current' if ["lecturer"].include?(page) %>">
          <a href="/home/lecturer">
            Öğretim Üyesi Planı
          </a>
          </li>
          <li class="<%= 'current' if ["class"].include?(page) %>">
          <a href="/home/class">
            Sınıf Planı
          </a>
          </li>
          <li class="<%= 'current' if ["department"].include?(page) %>">
          <a href="/home/department">
            Bölüm Planı
          </a>
          </li>
          <li class="<%= 'current' if ["help"].include?(page) %>">
          <a href="/home/help">
            Yardım
          </a>
          </li>
          <li class="<%= 'current' if ["info"].include?(page) %>">
          <a href="/home/info">
            Hakkında
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <% if session[:error] %>
    <div id="notice">
      <div class="error2">
        <%= session[:error] %>
      </div>
    </div>
  <% end %>

  <% if session[:success] %>
    <div id="notice">
      <div class="success2">
        <%= session[:success] %>
      </div>
    </div>
  <% end %>

  <!-- online kullanıcı sayısı -->
  <script>var _wau = _wau || []; _wau.push(["tab", "s83v7cq1zjsb", "4yf", "left-middle"]);(function() { var s=document.createElement("script"); s.async=true; s.src="http://widgets.amung.us/tab.js";document.getElementsByTagName("head")[0].appendChild(s);})();</script>
  <!-- online kullanıcı sayısı -->

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <ul class="recent photos xsmall">
      <li><a href="http://ce.omu.edu.tr" title="Bilgisayar Mühendisliği">
        <%= image_tag "/assets/19-normal-57x57.png"%>
      </a></li>
    </ul>
    copyright &copy; 2011 Mühendislik Fakültesi Eğitim Öğretim Planları<br/>
    <b>irtibat</b> : <code id="errorline">web@bil.omu.edu.tr</code>
    <ul class="float:right">
      <img alt="Website counter" hspace="0" vspace="0" border="0" src="http://www.amazing-counters.com/5334299-769E74C8AF862F291D5221BCF0D116D8/counter.img?theme=2&digits=7&siteId=7"/>
      <noscript><br/><a href="http://www.best-traveldestinations.com">Free Counter</a><br>The following text will not be seen after you upload your website, please keep it in order to retain your counter functionality <br> <a href="http://www.onlinecasinofair.com" target="_blank">casino jackpot</a></noscript>
    </ul>
  </div>

  <!-- nav-up-down -->
  <div style="display:none;" class="nav_up" id="nav_up"></div>
  <div style="display:none;" class="nav_down" id="nav_down"></div>
  <script src="/assets/scroll-startstop.events.jquery.js" type="text/javascript"></script>
  <script>
    $(function() {
      var $elem = $('#content');

      $('#nav_up').fadeIn('slow');
      $('#nav_down').fadeIn('slow');

      $(window).bind('scrollstart', function(){
        $('#nav_up,#nav_down').stop().animate({'opacity':'0.2'});
      });
      $(window).bind('scrollstop', function(){
        $('#nav_up,#nav_down').stop().animate({'opacity':'1'});
      });

      $('#nav_down').click(
      function (e) {
        $('html, body').animate({scrollTop: $elem.height()}, 800);
      }
      );
      $('#nav_up').click(
      function (e) {
        $('html, body').animate({scrollTop: '0px'}, 800);
      }
      );
    });
  </script>
  <!-- nav-up-down -->
</body>
</html>
