<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "style-user" %>
    <%= javascript_include_tag "jquery" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if session[:user] %>
      <style>
        .platform-bar {
          width: 960px;
          margin: auto;
          padding: 0px;
          border-top-left-radius:5px;
          border-top-right-radius:5px;
        }
      </style>
      <!--PLATFORM BAR-->
      <div class="platform-bar">
        <div class="row bar-content">
          <span class="title">
            <a href="/home">
              <%= session[:department] %> / <%= session[:period] %>
            </a>
          </span>
          <ul class="related">
            <li class="menu">
            <a href="/user/index">
              Ana Sayfa
            </a>
            </li>
            <% if session[:usernotice] %>
              <li class="menu">
              <a href="/user/noticereview">
                Duyurular
              </a>
              </li>
            <% end %>
            <% if session[:userdig] %>
              <li class="menu">
              <a href="/user/lecturerreview">
                Öğretim Üyesi
              </a>
              </li>
            <% end %>
            <li class="menu">
            <a href="/user/accountshow">
              Kişisel Bilgiler
            </a>
            </li>
            <li class="end">
            <a href="logout">
              Çıkış
            </a>
            </li>
          </ul>
        </div>
      </div>
      <!--PLATFORM BAR END-->

    <% end %>

    <% if session[:usersuper] %>
      <%= render :partial => "user_menu" %>
    <% end %>

    <% page = File.basename request.fullpath %>

    <% if ["user", "login"].include?(page) %>
      <%= render :partial => "notice" %>
    <% end %>

    <div id="content">
      <% if session[:user] %>
        <% if page =~ /account/ %>
          <%= render :partial => "account_menu" %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>

    <div id="footer">
      <ul class="recent photos xsmall">
        <li><a href="http://ce.omu.edu.tr" title="Bilgisayar Mühendisliği">
          <%= image_tag "/assets/19-normal-57x57.png"%>
        </a></li>
      </ul>
      copyright &copy; <%= Time.now.strftime("%Y") %> Mühendislik Fakültesi Eğitim Öğretim Planları<br/>
      <b>irtibat</b> : <code id="errorline">web@bil.omu.edu.tr</code>
    </div>

    <!-- nav-up-down -->
    <div style="display:none;" class="nav_up" id="nav_up"></div>
    <div style="display:none;" class="nav_down" id="nav_down"></div>
    <script src="/assets/scroll-startstop.events.jquery.js" type="text/javascript"></script>
    <script>
      $(function() {
        var $elem = $('#content');

        $('#nav_up').fadeIn('slow');
        $('#nav_down').fadeIn('slow');

        $(window).bind('scrollstart', function(){
          $('#nav_up,#nav_down').stop().animate({'opacity':'0.2'});
        });
        $(window).bind('scrollstop', function(){
          $('#nav_up,#nav_down').stop().animate({'opacity':'1'});
        });

        $('#nav_down').click(
        function (e) {
          $('html, body').animate({scrollTop: $elem.height()}, 800);
        }
        );
        $('#nav_up').click(
        function (e) {
          $('html, body').animate({scrollTop: '0px'}, 800);
        }
        );
      });
    </script>
    <!-- nav-up-down -->

  </body>
</html>
