<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "style-user" %>
    <%= javascript_include_tag "jquery" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if session[:user] %>
      <style>
        .platform-bar {
          width: 960px;
          margin: auto;
          padding: 0px;
          border-top-left-radius:5px;
          border-top-right-radius:5px;
        }
      </style>
      <!--PLATFORM BAR-->
      <div class="platform-bar">
        <div class="row bar-content" style="margin-left:19px;">
          <span class="title">
            <a href="/home">
              <%= session[:department] %> / <%= session[:period] %>
            </a>
          </span>
          <ul class="related">
            <li class="title">
            <a href="/user/home">
              Ana Sayfa
            </a>
            </li>
            <% if session[:usernotice] %>
              <li class="title">
              <a href="/user/noticereview">
                Duyurular
              </a>
              </li>
            <% end %>
            <% if session[:userdig] %>
              <li class="title">
              <a href="/user/lecturerreview">
                Öğretim Üyesi
              </a>
              </li>
            <% end %>
            <li class="title">
            <a href="/user/accountshow">
              Kişisel Bilgiler
            </a>
            </li>
            <li class="title">
            <a href="logout">
              Çıkış
            </a>
            </li>
          </ul>
        </div>
      </div>
      <!--PLATFORM BAR END-->

    <% end %>


    <% if session[:error] %>
      <div id="notice">
        <div class="error">
          <h3 id="errorline">Bir problemimiz var!</h3>
          <%= session[:error] %>
        </div>
      </div>
    <% end %>

    <% if session[:success] %>
      <div id="notice">
        <div class="success">
          <h3 id="successline">Bir başarı iletisi var</h3>
          <%= session[:success] %>
        </div>
      </div>
    <% end %>

  <div id="content">
    <% if session[:usersuper] %>
      <%= render :partial => "user_menu" %>
    <% end %>
    <%= yield %>
  </div>

  <div id="footer">
    <ul class="recent photos xsmall">
      <li><a href="http://ce.omu.edu.tr" title="Bilgisayar Mühendisliği">
        <%= image_tag "/assets/19-normal-57x57.png"%>
      </a></li>
    </ul>
      copyright &copy; 2011 Mühendislik Fakültesi Eğitim Öğretim Planları<br/>
      <b>irtibat</b> : <code id="errorline">web@bil.omu.edu.tr</code>
  </div>

  </body>
</html>
